[2015-12-09 15:19] hennevogel opened #1 "Find a name for the program/url"
We could just name it *mentoring program* but maybe that's too boring?

[2015-12-09 15:21] hennevogel opened #2 "Define a workflow how to collect mentoring projects"
The idea is for this repository to hold the web site (gh-pgaes) and to manage mentoring projects in this repos issues. How?

[2015-12-09 15:22] hennevogel opened #3 "Collect material for mentors"
Collect howtos, tips, tricks, books, talks etc. about mentoring.

[2015-12-09 15:23] hennevogel opened #4 "Collect projects that have mentors"
What FOSS projects do we run that have the people/structure to do mentoring?

[2015-12-09 15:25] hennevogel opened #5 "Get a static (gh-pages) web site going"
## Goals

* Collect mentoring projects and present them to students/sponsors
* Provide mentoring for mentors (materials, hints, tips & tricks. see #3)
* Present an overview of our Free Software development projects

[2015-12-09 15:26] hennevogel commented on #4
[Machinery](http://machinery-project.org/)

[2015-12-09 15:26] hennevogel commented on #4
[Yast](http://yast.github.io/)

[2015-12-09 15:26] hennevogel commented on #4
[Portus](https://suse.github.io/Portus/)

[2015-12-09 15:26] hennevogel commented on #4
[OSEM](http://osem.io)

[2015-12-09 15:26] hennevogel commented on #4
[openQA](http://os-autoinst.github.io/openQA/)

[2015-12-09 15:26] hennevogel commented on #4
[OBS](http://openbuildservice.org/)

[2015-12-09 15:26] hennevogel commented on #4
[Snapper](http://snapper.io/)

[2015-12-09 15:46] hennevogel commented on #1
Some ideas:

* Bootcamp
* Davis (after [Coach Davis a.k.a. Captain Obvious](http://www.urbandictionary.com/define.php?term=Coach+Davis))
* Skipper
* Master (as in git branch...)

[2015-12-09 15:52] hennevogel commented on #1
More ideas:

* 101
* BYU - [Back Yard University](http://onlineslangdictionary.com/meaning-definition-of/byu)
* Ferris or [Bueller](https://en.wikipedia.org/wiki/Ferris_Bueller's_Day_Off)

[2015-12-09 16:05] hennevogel commented on #3
There is the somewhat outdated [GSoC Mentor Manual](http://en.flossmanuals.net/GSoCMentoring/)

[2015-12-09 16:14] hennevogel commented on #3
[Mentoring toolkit](http://www.mentoring.org/downloads/mentoring_413.pdf) by mentoring.org

[2015-12-09 16:59] ChrisBr commented on #1
I like 101 :)

[2015-12-10 07:54] ChrisBr opened #6 "Rework GSoC Organization Application"
https://github.com/openSUSE/mentoring/wiki/GSoC-Organization-Application

Started with c&p from https://en.opensuse.org/openSUSE:GSOC_application_form

[2015-12-10 08:29] ChrisBr opened #7 "Organize a GSoC meetup"
I'm already in contact with two professors at TH Nuremberg and FAU Erlangen about organizing a GSoC meetup!

[2015-12-10 08:30] ChrisBr commented on #5
I can take this! @hennevogel maybe we can talk today briefly about a nice template / layout...

[2015-12-10 09:27] ChrisBr commented on #2
I'd propose

1. The mentor adds a new issue

  ### Title: Title of the mentoring project
  ### Description:
  * Description
  * Deliverable
  * Mentor (additional assign the issue to the primary mentor)
  * Skills
  * Skill Level
  * Byte Sized tasks for students to get involved (e.g. GitHub issues, low hanging fruits, junior jobs)
  * GiHub repository
  * Resources to get started (tutorials, link

[2015-12-10 10:26] hennevogel commented on #2
So the issue exists and describes the mentoring project and it's data. What next? How do people 'apply' for it? How are students selected?

[2015-12-10 10:28] hennevogel commented on #2
Github labels have the problem that they are exclusive. You can't list all OSEM projects for GSoC. There is no `AND`...

[2015-12-10 10:35] hennevogel commented on #7
Like @cornelius mentioned we should make this something generic about this program...

[2015-12-10 10:45] hennevogel commented on #2
Ah no it's `OR` that doesn't exist...

[2015-12-10 10:50] ChrisBr commented on #2
Interested students would write in the issue that they're interested and can start to fix the "Byte Sized tasks for students to get involved" or do some research! Detailed discussion can be done via email like before.

What RGSoC for instance does is, that they label the issue with "Max number of applicants reached" if for instance 3 or four teams/students already have applied for the project. But

[2015-12-10 10:51] ChrisBr commented on #2
@hennevogel we don't need ``or``, ``and`` should be enough (``GSoC and OSEM`` or ``GSoC``)

[2015-12-10 11:06] hennevogel commented on #2
Yeah with external programs the selection wouldn't happen at all here in this repo. Hm maybe we don't want to handle selection at all in here?

[2015-12-10 11:15] ChrisBr commented on #2
@hennevogel yep, and most of all the selection is (mostly) done by the mentor! Only the mentor can say which applicants fits the best ...

[2015-12-10 11:31] hennevogel commented on #2
Okay but how do students know what is taken? Re-assign from Mentor to Student?

[2015-12-10 11:48] ChrisBr commented on #2
You mean which project isn't available anymore?

I don't think assign to a student isn't sufficient because how should anyone new to the project know who is a mentor and who is a student! I'd either also cover this with a label (easy search but to many labels) or just close the issue (search is also easy) or write a comment (search hard and you have to open the issue). I'd go for closing the issue

[2015-12-10 14:53] cornelius commented on #1
Maybe something around "learning" or "growth"?

[2015-12-10 14:55] cornelius commented on #3
[Mentoring HOWTO](https://people.gnome.org/~federico/docs/summer-of-code-mentoring-howto/) By Federico Mena-Quintero

[2015-12-10 14:56] cornelius commented on #3
[KDE's mentoring information](https://community.kde.org/Mentoring)

[2015-12-11 11:47] ddemaio commented on #1
How name ideas:
apprentice
soar
tracks
mount

[2015-12-17 15:54] ChrisBr opened #11 "Native Ruby Interface for libyui"
**Description:** There is libyui library which provides single interface for three toolkits (QT, GTK and ncurses). It is heavily used in YaST and also Mageia uses that for its configuration tool. YaST is now transpiled to ruby and libyui ruby bindings is simple 1:1 to its C++ API. Goal of this project is to design and implement native ruby API built on top of libyui.

**Deliverable:** It is expect

[2015-12-17 15:57] ChrisBr opened #12 "Apache Initial Setup YaST Module"
**Description:** Write a new YaST module for apache that do initial setup of apache with given framework so it allows easy start. Module is focused for newbies with basic setup. It is not intended to modify existing configuration. It should include also install of needed packages. Module use cases are:
- I want to quickly setup apache with static HTML
- I want to quickly setup apache with PHP
- I

[2015-12-17 15:59] ChrisBr opened #13 "Alternatives YaST Module"
**Description:** openSUSE, as other distributions, includes the command update-alternatives in order to allow users to choose which program they want to be the default for every given function (which text editor, which Java implementation and so on). Being quite prominent in other distributions, update-alternatives does not get the attention it deserves in openSUSE. The project consists on impleme

[2015-12-17 16:02] ChrisBr opened #15 "Add sessions recording support to Jangouts"
**Description:** Jangouts is a videoconferencing solution that can be used to hold meetings with any number of participants. But currently there is no way to record those meetings in order to watch them again. That's a feature that will make Jangouts suitable for many more use cases, like online workshops. This [Issue](https://github.com/jangouts/jangouts/issues/34) at GitHub describes some possib

[2015-12-17 16:05] ChrisBr opened #16 "Port Jangouts from AngularJS 1.4"
**Description:** Jangouts, a web based videoconferencing tool, is based on AngularJS 1.4. Given that the new version of AngularJS (v2) will be fundamentally different from v1.4, Jangouts should be ported to the new version of AngularJS or to an alternative framework (like the combination of React+Redux). On the other hand, Jangouts was born as a HackWeek project and doesn't have a proper testsuite

[2015-12-17 16:22] hennevogel commented on #1
Okay let's decide: I like 101 best

[2015-12-17 16:23] ChrisBr commented on #1
+1 for 101

[2015-12-17 16:39] hennevogel commented on #1
@cornelius? :-)

[2015-12-17 16:40] hennevogel commented on #5
First version is in `gh-pages` now. I'll see what I can do about the domain.

[2015-12-18 06:42] ddemaio commented on #1
+ 101

[2015-12-18 07:48] ddemaio commented on #1
@hennevogel what's the address going to be for this 101.opensuse.org or 101.opensuse.io?

[2015-12-18 07:50] ChrisBr commented on #1
@ddemaio probably the first one, 101.opensuse.org

[2015-12-18 10:47] hennevogel commented on #1
We own .io?

[2016-01-12 09:50] kalabiyau opened #23 "Dockerize Open Source Event Manager"
**Project Title:** Dockerize Open Source Event Manager

**Description:** To be able to deploy OSEM even faster to give it a try locally with 0 effort we would like to dockerize app with sattelite containers via docker-compose

**Deliverable:** executable script + related documentation which will spin up required containers and seed data to get started

**Mentor:** Artem Chernikov @kalabiyau / ache

[2016-01-12 09:51] kalabiyau commented on #23
@ChrisBr please assign me and set label as I do not have rights :)

[2016-01-12 10:03] hennevogel opened #24 "Implement ticket payment feature for OSEM"
**Description:** The [Open Source Event Manager](http://osem.io) is an event management app tailored to Free Software Conferences, it is developed in the [Ruby on Rails](http://rubyonrails.org/) web framework. OSEM already has a feature to sell conference tickets. At the moment the user has to buy the ticket online and pay on arrival at the conference. We would like to have a way to purchase and p

[2016-01-12 10:11] hennevogel opened #25 "Enhance visitor experience of OSEM"
**Description:** The [Open Source Event Manager](http://osem.io) is an event management app tailored to Free Software Conferences, it is developed in the [Ruby on Rails](http://rubyonrails.org/) web framework. We have several ideas to enhance the visitor experience. First of all, the event schedule isn't mobile friendly and and there is no way to have several schedule proposals to compare before r

[2016-01-12 11:01] kalabiyau commented on #16
:+1:

[2016-01-12 13:56] ChrisBr commented on #1
@hennevogel you take care of this, right?

[2016-01-12 13:57] ChrisBr commented on #2
Described in
http://opensuse.github.io/mentoring/mentor/ and
https://github.com/openSUSE/mentoring/blob/gh-pages/templates/mentored_project.md

I guess we can close this one? @hennevogel

[2016-01-12 13:57] ChrisBr commented on #3
Added to http://opensuse.github.io/mentoring/mentor/
Can we close it?

@hennevogel @cornelius

[2016-01-12 14:00] ChrisBr commented on #4
Machinery, YaST, Portus, Jangouts & OSEM already added to the page! The other ones we can add as soon as the have a mentoring projects (adding a project without mentoring project doesn't make sense I think).

How to add a new project is described in the [README.md](https://github.com/openSUSE/mentoring#adding-new-project)

@hennevogel can we close it?

[2016-01-12 14:05] ddemaio commented on #4
@ChrisBr when do you think we will go live? I can write something up and put out on social media.

[2016-01-12 14:12] ChrisBr commented on #4
@ddemaio I'd at least wait till we have a nice domain for the page, see https://github.com/openSUSE/mentoring/issues/1.

But I'd like that we write a blog article about the booth tomorrow at the university! I try to make some pictures and write sth down, maybe you can work out a blog article!

[2016-01-12 14:12] hennevogel commented on #1
Jupp the request is running

[2016-01-12 17:29] cornelius opened #32 "Inspection of installed gems with Machinery"
**Description:** With [Machinery](http://machinery-project.org) you can inspect Linux systems and store the collected data as a description of the system. The description can be nicely displayed and managed by Machinery. This is useful to get insight into unknown systems, debug problems, track changes, create inventories, migrate systems, and more.

Currently Machinery collects data about RPMs and

[2016-01-12 17:48] cornelius opened #33 "Query engine for system descriptions in Machinery"
**Description:** With [Machinery](http://machinery-project.org) you can inspect Linux systems and store the collected data as a description of the system. The description can be nicely displayed and managed by Machinery. This is useful to get insight into unknown systems, debug problems, track changes, create inventories, migrate systems, and more.

Machinery collects data in sections called "scop

[2016-02-10 12:34] hennevogel commented on #5
http://101.opensuse.org is there too. Fixed! :-)

[2016-02-10 12:34] #5 closed

[2016-02-10 12:34] hennevogel commented on #1
http://101.opensuse.org it is!

[2016-02-10 12:34] #1 closed

[2016-02-10 12:35] hennevogel commented on #2
Yes we can!

[2016-02-10 12:35] #2 closed

[2016-02-10 12:35] hennevogel commented on #4
Yes everything is there!

[2016-02-10 12:35] #4 closed

[2016-02-10 12:37] hennevogel commented on #3
No I think /mentor/ we should explain what we (openSUSE) think mentoring means. what's the best way to go about it. we should tell people about best practices, what we think works and what does not, FAQ's etc. _AND_ link to the pages from others.

[2016-02-12 05:45] sonalkr132 opened #37 "Scroll not working on modals"
Successful projects use modal for pop up divs. They have scrollbars, however they don't work (not the scrollbar itself but the scroll event). Scroll starts working after I have triggered some other event (like right click, open inspector window etc).
Can some please confirm that I am not the only one having this issue?

[2016-02-12 12:59] ChrisBr commented on #37
Works for me!
Which browser? Have you tried a different browser?

[2016-02-12 13:03] sonalkr132 commented on #37
It doesn't work on Chrome Version 46.0.2490.80 (64-bit)
I just tired it on Mozilla Firefox 41.0.2 and it worked there. It can be closed?

[2016-02-12 13:06] sonalkr132 commented on #37
I am guessing osem.io uses same technique for osem features (on homepage). However scroll on pop-up modal works there.

[2016-02-15 11:03] mssola opened #39 "Improve Portus LDAP support"
**Project Title:** Improve LDAP support

**Description:** this project is based on two main points, and an optional one:
1. Add LDAP Group support: This is better explained [here](https://github.com/SUSE/Portus/issues/734).
2. Improve the current integration testing setup to include all the possible
   LDAP configurations.
3. (Optional) General improvements on LDAP handling that the student might

[2016-02-15 16:57] lrupp opened #42 "MirrorPinky - self management interface for mirror administrators"
**Project Title**: MirrorPinky - A web frontend for mirror administrators

**Description**: You might know [MirrorBrain](http://mirrorbrain.org) already: our download redirector and Torrent/Metalink generator used u.a. on [download.opensuse.org](http://download.opensuse.org/). It's really a great tool that plays a hidden key role inside the openSUSE infrastructure and is meanwhile used by many oth

[2016-02-16 16:05] mssola opened #43 "Give administrators more control over Portus"
**Project Title:** Give administrators more control over Portus

**Description:**  This project is based on multiple small tasks aimed at improving the admin control over a Portus instance.

The student is encouraged to propose new ones or improve the ones proposed below:
- Allow admins to change the ownership of a namespace across different teams.
- Allow disabling the creation of teams/namespace

[2016-02-16 16:06] mssola opened #44 "Improve the UI of Portus"
**Project Title:** Improve the UI of Portus

**Description:** In this project we encourage students to try to improve the UI of Portus. Some known issues from Portus' UI are:

- Don't allow users access to the hidden team.
- Assets should be served differently. For example, it doesn't make much sense to serve the font "Pacifico" for every page, when it's only used in error pages.
- Create a help s

[2016-02-17 12:46] mauromorales opened #46 "Improve Machinery's Code Base through Refactoring"
**Description:** The [Machinery project](http://machinery-project.org/) has been evolving in a good pace for the last couple of years by adding features and fixing bugs in an agile way. However there are places where our code base could benefit from:
- a better design
- more readability
- better performance

We will achieve these goals through refactoring so we don't alter the external behavior of

[2016-02-17 13:03] cornelius opened #47 "Reproducible openSUSE builds"
**Project Title:** Reproducible openSUSE builds

  **Description:** The [Reproducible Builds Project](https://reproducible-builds.org/) is working on making builds of binary packages from sources reproducible so that builds from the same sources always create the bit-wise identical results. This way users can prove that packages are built from the sources they claim to be built from without having

[2016-02-17 13:18] hennevogel commented on #3
Done in 8988ca1401a7de8a85700dd85e41ee1dfecb7418

[2016-02-17 13:18] #3 closed

[2016-02-22 13:41] abhinavsv3 commented on #44
Hi I am interested in working on this project.

[2016-02-22 16:10] mssola commented on #44
Hi @abhinavsv3, we don't know how many open slots does openSUSE have for GSoC yet. AFAIK, we'll get this information as of 29th of February. Whenever we know, we'll get back to you :wink:

[2016-02-22 22:45] abhinavsv3 commented on #44
Yeah sure.
I awaiting you mail.

Abhinav
On Feb 22, 2016 5:10 PM, "Miquel Sabaté Solà" <notifications@github.com>
wrote:

[2016-02-29 10:01] ChrisBr commented on #6
done on https://github.com/openSUSE/mentoring/wiki/GSoC-Organization-Application-2016
Google will announce the state of the application on 29.02.2016 19:00 UTC

[2016-02-29 10:01] #6 closed

[2016-02-29 19:22] sils1297 opened #51 "Umbrella for coala"
Hi,

we are coala (coala-analyzer.org) and have not been accepted for GSoC so far. We have lots of students who already contribute to our project and really want to do a GSoC with us. We have mentorship capabilities for several projects as well and mentored two students successfully last year.

If you have need for it I'd be happy to help out administering your GSoC with my experience from GNOME.

[2016-02-29 20:58] ChrisBr commented on #51
Hi @sils1297,

Google accepted openSUSE as mentoring organization this year. However, we didn't apply as an umbrella organization, so I assume it's not possible to include projects from a different organization after the application period.

However, I'll check and discuss this with our organization team.

[2016-02-29 21:07] sils1297 commented on #51
hey please don't do any effort, I have just come to an agreement with the PSF.

[2016-02-29 21:10] sils1297 commented on #51
FWIW google likes umbrellas a lot and I thought the whole goal of this repo is that you're an umbrella also for possible outside projects so formally it shouldn't make any difference.

[2016-02-29 21:10] #51 closed

[2016-03-02 05:40] ajaivgeorge commented on #46
I am interested in this project. I am acquainted with Ruby, RSpec and Cucumber and have read Martin Fowler's Refactoring book. Can you please guide me in getting familiar with the codebase.

[2016-03-02 07:51] mauromorales commented on #46
@ajaivgeorge glad to hear you are interested :) and sure I'll be happy to shed some light.

Have you already installed and used machinery? this will be the best way to get started so you get acquainted with our terminology (i.e. scopes, inspection, description). Also keep an eye to our [documentation](http://machinery-project.org/docs/).

Once you have some mileage with machinery make sure you can

[2016-03-02 15:56] ChrisBr commented on #44
@abhinavsv3 @mssola openSUSE has been accepted for this year, so feel free to start ;)

[2016-03-02 16:37] arun1595 commented on #44
I would like to contribute to this project. Need more information to get started.

[2016-03-02 16:45] abhinavsv3 commented on #44
Hi
  That's a great news to me. Now can you help me to start? where do I start
. Is there some really intersting proposal that I can draw my contribution
to.

Abhinav

On Wed, Mar 2, 2016 at 5:37 PM, Arun Kumar <notifications@github.com> wrote:

--

Abhinav S V ,
IV Year , B.Tech
Computer Science and Engineering
SASTRA UNIVERSITY , Thanjavur
TAMILNADU

[2016-03-02 16:53] msfernandes commented on #44
Hi! I am interested to work with this project too!
@mssola can you indicate an issue to begin?

[2016-03-02 17:06] abhinavsv3 commented on #44
@mssola @ChrisBr  Can you also suggest me bug/issues to start with?

[2016-03-02 17:23] mssola commented on #44
Glad to see so many people willing to take part on this project :D

First of all, what I would recommend is to get acquainted with Portus. Install it in [any of the recommended setups](https://github.com/SUSE/Portus/wiki#developmentplayground-environments), play with it.

Specifically for this project, you'll see current [ui](https://github.com/SUSE/Portus/labels/ui) and [ux](https://github.com/SU

[2016-03-02 17:26] mssola commented on #43
There are some open issues in Portus about this. Students willing to take this project should:

1. Get familiar with Portus. Install it in [any of the recommended setups](https://github.com/SUSE/Portus/wiki#developmentplayground-environments), play with it.
2. Take a look at [junior jobs](https://github.com/SUSE/Portus/labels/junior%20job), try to fix one.
3. Propose some possible improvement, eve

[2016-03-02 17:26] mssola commented on #39
There are some open issues in Portus about this. Students willing to take this project should:

1. Get familiar with Portus. Install it in [any of the recommended setups](https://github.com/SUSE/Portus/wiki#developmentplayground-environments), play with it.
2. Take a look at [junior jobs](https://github.com/SUSE/Portus/labels/junior%20job), try to fix one.
3. Propose some possible improvement, eve

[2016-03-02 18:16] jiteshjha commented on #24
Hello! I would like to take on this project for GSOC 2016. How do I proceed? Thanks!

[2016-03-03 09:12] ChrisBr commented on #44
Also, as I see that there are already three students interested in this project, please also consider some other project where we don't hat have students yet!

[2016-03-03 09:16] ChrisBr commented on #24
Hi @jiteshjha,

nice to see that you're interested in this project.

1) You should first start forking and checking out OSEM. Note that we have [vagrant](https://github.com/openSUSE/osem/blob/master/INSTALL.md) to make this easier for you!
2) Try to run the testsuite locally
3) Pick some [JuniorJob](https://github.com/openSUSE/osem/issues?q=is%3Aopen+is%3Aissue+label%3AJunior) and try to fix it.

[2016-03-03 15:19] abhinavsv3 commented on #25
Hi
  I am interested in this project.

[2016-03-03 15:29] ChrisBr commented on #25
Hi @abhinavsv3,

nice to see that you're interested in this project.

1) You should first start forking and checking out OSEM. Note that we have [vagrant](https://github.com/openSUSE/osem/blob/master/INSTALL.md) to make this easier for you!
2) Try to run the testsuite locally and play around with OSEM
3) Pick some [JuniorJob](https://github.com/openSUSE/osem/issues?q=is%3Aopen+is%3Aissue+label%3AJ

[2016-03-03 16:06] abhinavsv3 commented on #25
sure. running it

[2016-03-03 16:24] nanduni-nin commented on #23
Dear Sir,
I would like to contribute to this project since I am very familiar with Docker. I assume that his project requires me to create a Dockerfile to start and run the app. Am I right? Can you please explain me more on this project?

Thank you.

[2016-03-04 00:08] harshuopi commented on #16
Hi guys,

I am interesting in this as my GSOC project. And I was wondering why do we need to port it? Will porting to Angular 2 solve many of the issues? If so, which ones?

Thank you.

[2016-03-04 11:55] ChrisBr commented on #23
@kalabiyau ping!

[2016-03-04 13:13] hennevogel opened #54 "Get all accepted mentors to subscribe to gsoc-mentors@opensuse.org"

[2016-03-04 13:14] hennevogel opened #55 "Mentor Kick Off Meeting"
Setup an IRC meeting to discuss

* GSoC Timetable
* Next steps for mentors
* How to attract students
* How to help students to write a good proposal

[2016-03-04 13:19] hennevogel opened #56 "Distribute Materials to attract students"
We need to collect materials we can hand out to people so they can distribute them to their local universities. @ChrisBr you had a PDF somewhere right?

Distribute those to:
- [ ] openSUSE
- [ ] SUSE

[2016-03-04 13:26] hennevogel opened #57 "Blog about the projects"
We should present the individual projects, what they are about and how students can start (basically a text out of the issue) on news.opensuse.org

[2016-03-04 13:27] hennevogel opened #58 "Blog about the timetable"
The GSoC timetable is something most new students don't understand. There are some hurdles they need to take and we should help them get over them with a blog.

[2016-03-04 13:28] hennevogel opened #59 "Setup SUSE Lunch&Learn"
This will be next Thursday. We need to get a short presentation together about GSoC and what people can do for it.

[2016-03-04 14:39] chocoelho commented on #25
@ChrisBr I'm also interested in it, should I get in touch with mentors after a PR gets accepted?

[2016-03-04 14:43] hennevogel commented on #25
@chocoelho you can contact me anytime :-) You can also come and join all of the OSEM community on IRC: [irc.opensuse.org#osem](irc://irc.opensuse.org/osem). Looking forward to hear from you!

[2016-03-04 14:56] chocoelho commented on #25
I'll do it :+1:

On 03/04/2016 11:43 AM, Henne Vogelsang wrote:

[2016-03-04 15:08] bhaprayan commented on #43
Greetings,
I am interested in this project. Could you give me some helpful pointers on navigating through the code base? I have already setup a development environment using Docker. There is also a possible improvement I've suggested.
Thanks.

[2016-03-04 18:13] msfernandes commented on #44
There is a specific irc channel for portus project?

[2016-03-05 01:14] nanduni-nin commented on #23
@kalabiyau  I would like to contribute to this project since I am very familiar with Docker. I assume that his project requires me to create a Dockerfile to start and run the app. Am I right? Can you please explain me more on this project?

[2016-03-05 05:12] arun1595 commented on #24
Hello. I would like to work on this project for GSoC '16. I have forked the repository and I have OSEM running on VM using Vagrant. Trying to solve a junior job. Thanks!

[2016-03-05 11:11] rishabhs95 commented on #24
Hi. I am Rishabh Saxena, a second year undergraduate currently studying in BIT Mesra, India and  I have experience in web development and am very interested to work on this project with GSoC '16 and further. I have forked the repo and will be trying to get some junior job done to get acquainted with the codebase. Can you guide me with some additional things I need to take care of?

[2016-03-05 15:16] ChrisBr commented on #24
@arun1595 @rishabhs95 Great! As stated in my previous comment, your first steps should be to setup your development environment, we recommend using [vagrant](https://github.com/openSUSE/osem/blob/master/INSTALL.md) and try to fix some [junior jobs](https://github.com/openSUSE/osem/issues?q=is%3Aopen+is%3Aissue+label%3AJunior).

Most of our team you can find in [IRC](http://www.irchelp.org/irchelp/

[2016-03-05 15:42] ChrisBr commented on #56
Yep, let me know if you want me to adapt them.
- [opensuse101.pdf](https://github.com/openSUSE/mentoring/files/159897/opensuse101.pdf)
- [gsoc.pdf](https://github.com/openSUSE/mentoring/files/159898/gsoc.pdf)

(the second one is the official GSoC press release)

[2016-03-05 15:44] ChrisBr commented on #59
Ok, let's do this on monday!

[2016-03-05 15:45] ChrisBr commented on #54
Sent an email to all mentors, we have to check next week if we got everyone ...

[2016-03-05 18:55] ajaivgeorge commented on #46
Thank you. I have cloned the repo, and installed it. I will have a look at the tests and the docs and get back to you.

[2016-03-06 09:51] mauromorales commented on #46
@ajaivgeorge I've added a repo with some use case examples make sure you also have a look at them [here](https://github.com/openSUSE/machinery-examples)

[2016-03-07 08:19] mauromorales commented on #46
I've also added a link to the issue with some [newcomer friendly issues](https://github.com/SUSE/machinery/issues?q=is%3Aissue+is%3Aopen+label%3A%22Newcomer+friendly%22)

[2016-03-07 09:24] jreidinger commented on #54
I do not see mailing list at https://lists.opensuse.org/ so I cannot subscribe via UI. BTW I used to be in old one and was removed.

[2016-03-07 09:28] ChrisBr commented on #54
@jreidinger the list is private and moderated, so not listed on https://lists.opensuse.org/. We removed everyone last week! Just sending an email to ``gsoc-mentors+subscribe@opensuse.org`` should work. Thanks!

[2016-03-07 09:30] jreidinger commented on #54
ok, thanks.

[2016-03-07 13:51] mssola commented on #44
@msfernandes not yet. We are working on that actually. I'll come back to you whenever I have any news on that :wink:

[2016-03-07 13:59] msfernandes commented on #44
@mssola where we can talk about gsoc?

[2016-03-07 14:06] mssola commented on #44
@msfernandes for now feel free to use containers@lists.suse.com. The team working on Portus is subscribed to this list, so it should be fine :wink:

[2016-03-07 17:31] vladshablinsky commented on #32
Hi @cornelius, I'm Vlad, I have some Ruby skills and I'm interested in this project. I've installed Machinery, read the documentation, successfully tested it, inspected localhost and my Raspberry Pi with it, however It's probably not supposed to be used like that, but anyway.
As far as I understood the project is to implement something like `plugins/repositories`, but with `gem`, `pip`, etc. and p

[2016-03-08 07:49] AlexMex90 commented on #24
I have Ruby on Rails running under Ubuntu installed with rvm would this configuration work to contribute?

[2016-03-08 08:33] ChrisBr commented on #24
@AlexMex90 any setup with which you can run, code and test OSEM is fine. However, we can't support any system therefore we have a [Vagrant](https://github.com/openSUSE/osem/blob/master/INSTALL.md) box which you can use.

Just start by fixing some of our [junior jobs](https://github.com/openSUSE/osem/issues?q=is%3Aopen+is%3Aissue+label%3AJunior).

[2016-03-08 16:11] hennevogel commented on #59
Agenda:

* Introduce the general ideas of 101
  * Build a community of mentors in openSUSE
  * Help people to learn mentoring
* Introduce GSoC
  * The general idea
  * Why is this important?
  * openSUSE GSoC History
    * People that came out of this?
    * Software that came out of this?
  * The timeline
* Which of our FOSS Projects participate in GSoC
* Help with mentoring
  * What do I have to

[2016-03-08 17:21] rishabhs95 commented on #24
@AlexMex90 you can run osem using vagrant(preferred), but if you want to run it on your configuration just make sure to execute the commands which vagrant executes to setup its environment, which you can find in your main directory

[2016-03-09 08:38] kalabiyau commented on #23
@nanduni-nin generally you are right, but also that task would not just mean a Dockerfile, but also the "whole story". We think that should be possible to spin-up OSEM in one command involving Docker. For local testing and evaluation. But also we should have a whole scenario on how to do that in production.

[2016-03-10 12:32] ChrisBr commented on #59
done!

[2016-03-10 12:33] ChrisBr commented on #59
Maybe we should collect the slides and video somewhere?

[2016-03-10 12:33] ChrisBr commented on #56
@hennevogel where do we want to store the material?

[2016-03-10 14:21] mssola commented on #59
@ChrisBr I'd appreciate that, because I couldn't attend :(

[2016-03-10 14:22] hennevogel commented on #59
Absolutely. If the video is good enough we might even add it to the page. The slides are just copy&paste from the 101 page anyway :-)

[2016-03-10 14:24] ChrisBr commented on #59
@hennevogel also we could submit it as a OSC16 talk ...

[2016-03-11 04:45] AlexMex90 commented on #24
when I run `vagrant up`

`vm:
* The box 'opensuse/openSUSE-42.1-x86_64' could not be found.
`
do I have to manually create the box in virtualbox? or should it be automatic?

[2016-03-11 06:49] rishabhs95 commented on #24
@AlexMex90 have you tried setting up vagrant by following this [guide](https://github.com/openSUSE/osem/blob/master/INSTALL.md).  vagrant sets it up for you automatically if you follow the guide properly.

[2016-03-11 06:52] AlexMex90 commented on #24
@rishabhs95 yeah, I followed those steps, but no avail. Do I need a particular version of vagrant and/or virtualbox? I am running Ubuntu 14.04 (Bay Trail kernel bug prevents me from installing something with a kernel newer than 3.16)

[2016-03-11 07:42] ChrisBr commented on #24
@AlexMex90 Try to add it manually:

``
vagrant box add opensuse/openSUSE-42.1-x86_64 https://atlas.hashicorp.com/opensuse/boxes/openSUSE-42.1-x86_64/versions/1.0.0/vagrant/providers/virtualbox.box
``

[2016-03-11 16:28] AlexMex90 commented on #24
Is the URL correct? it returns a 404.

[2016-03-11 16:37] rishabhs95 commented on #24
vagrant init opensuse/openSUSE-42.1-x86_64; vagrant up --provider virtualbox
this works for me. check if it does for you @AlexMex90

[2016-03-12 04:55] AlexMex90 commented on #24
This is what I get.

[code]

[2016-03-13 20:16] AlexMex90 commented on #24
I attempted this, I got this:

[code]

[2016-03-14 05:07] AlexMex90 commented on #24
This worked:

`vagrant box add opensuse/openSUSE-42.1-x86_64 http://downloadcontent.opensuse.org/vagrant/openSUSE-42.1-virtualbox-x86_64-1.0.0.box`

[2016-03-14 13:58] ChrisBr commented on #24
@AlexMex90 the error message

``
`Vagrantfile` already exists in this directory
``

is correct because we already have a [Vagrantfile](https://github.com/openSUSE/osem/blob/master/Vagrantfile).

Does it work now for you or do you still need help?

[2016-03-14 21:44] awasum commented on #25
Hello @hennevogel @ChrisBr and @differentreality
Am interested in this project. I have set up my development environment. Already attempted to fix some bugs, issue #814. Will continue working on other issues.

[2016-03-14 22:24] AlexMex90 commented on #24
@ChrisBr  Thank you for your answer! It worked with the command I mentioned in my lest post, It worked around 2 a.m. so I haven't had the chance to test anything else, but I was able to run OSEM.

[2016-03-14 22:27] awasum commented on #24
Hello @ChrisBr and @hennevogel ,

My name is Awasum Yannick. i'm a student in the university of buea in cameroon.
I am interest the OSEM project and have already setup my development environment. I am working on my proposal while studying the code base and already fixing common bugs and issues involved in setting up developer environment and basic responsive UI design. How do i submit my proposal

[2016-03-14 22:30] ChrisBr commented on #24
@awasum yes, sending to us, the opensuse-project mailinglist or just posting in this issue is fine! Thanks!

[2016-03-14 22:36] awasum commented on #24
I think also adding a way for people to pay for tickets using mobile money is very good for this project. What do you think?

[2016-03-14 22:37] ChrisBr commented on #24
Please elaborate what do you mean with mobile money!

[2016-03-14 22:42] awasum commented on #24
Telecom operators in most countries provide payment APIs for integration into e-commerce and m-commerce systems. We could design a way for integrators and conferences to add their payment details and API keys so they can be paid directly.

[2016-03-14 22:49] ChrisBr commented on #24
@awasum nice idea, however, for this GSoC project I would really like to focus on implementing the ticket feature / payment in a proper and sane way for one provider. If this is done we can think about the next steps ;)

[2016-03-14 22:54] awasum commented on #24
Thats works fine.

[2016-03-16 19:06] ancorgs commented on #15
@sandr3j I think you were interested in this project. Watch the deadline http://write.flossmanuals.net/gsocstudentguide/writing-a-proposal/  https://developers.google.com/open-source/gsoc/timeline

[2016-03-18 16:07] ChrisBr opened #63 "Improve one-click installer"
**Project Title:** Improve one-click installer

**Description:** The one-click installer would benefit greatly from improved features. Some of these are:

- Port the application to use Qt5 instead of Qt4.
- Localization.
- Handling conflicts and dependency in the backend.
- Better progress interface so the user can see if the application is downloading or installing the package.
- Show which repos

[2016-03-18 16:21] ChrisBr commented on #63
![one-click-2](https://cloud.githubusercontent.com/assets/3799140/13884200/99e6a298-ecf2-11e5-87fa-4e9efcb22ffa.png)

[2016-03-21 07:47] cornelius commented on #57
I blogged about the projects I proposed on my personal blog: http://blog.cornelius-schumacher.de/2016/03/students-join-summer-of-code.html

[2016-03-21 14:31] shalomRachapudi commented on #63
Good day! Hope you are doing fine. I'm interested in this project. I'm proficient in C++ and know a thing or two about Qt libraries (willing to learn on-the-fly). I'd love to upload my proposal but couldn't find a template on the site. I found the project details on GSoC webpage. Looking forward to your reply.
- Shalom

[2016-03-21 15:04] ChrisBr commented on #63
@shalomRachapudi please use this [template](https://github.com/openSUSE/mentoring/blob/gh-pages/templates/gsoc.md)

[2016-03-21 15:07] ChrisBr commented on #57
@cornelius cool! Do we want to redistribute the article to news.o.o?

[2016-03-21 15:29] cornelius commented on #57
@ChrisBr I don't think the article would fit news.o.o as it is. Better write another one, which covers it from an openSUSE project perspective.

[2016-03-21 18:53] AdityanJothi commented on #44
Hi im interested in working on this project , are there any free slots ?

[2016-03-22 08:32] 4bic commented on #25
Hey @hennevogel @ChrisBr & @differentreality
Am interested in the project, anyone in IRC ?

[2016-03-22 14:32] ChrisBr commented on #63
@shalomRachapudi note that the deadline for submitting a proposal is this Friday, 25 March 19:00 UTC!

[2016-03-22 14:32] ChrisBr commented on #46
@ajaivgeorge note that the deadline for submitting a proposal is this Friday, 25 March 19:00 UTC!

[2016-03-22 14:33] ChrisBr commented on #43
@bhaprayan note that the deadline for submitting a proposal is this Friday, 25 March 19:00 UTC!

[2016-03-22 14:33] ChrisBr commented on #32
@vladshablinsky note that the deadline for submitting a proposal is this Friday, 25 March 19:00 UTC!

[2016-03-22 15:49] ancorgs commented on #15
@sandr3j I added a comment to https://github.com/jangouts/jangouts/issues/34 that could be useful while preparing the proposal. Once again, beware the deadline (three days to go and I have not seen even a draft :wink:).

[2016-03-22 17:11] sandr3j commented on #15
@ancorgs I uploaded now a draft. I still need to write the timeline and improve about me section. Sorry, that I'm behind the timeline. I already wanted to uploaded it sooner but thought "I just need a couple hours to finish it".

[2016-03-22 20:17] shalomRachapudi commented on #63
Sure, I'm on it. :) @ChrisBr

[2016-04-03 21:08] art-solopov commented on #11
Hello!
I have about 1 year and 10 months of experience as a Ruby on Rails developer, although I've never actually created a lib API.
I love Ruby and I'd love to contribute to OpenSUSE!

[2016-04-04 08:32] ancorgs commented on #11
@art-solopov nice to read that! Just drop by the #yast irc channel at Freenode (also reachable as irc.opensuse.org) so we can discuss the details. Most YaST developers are there on working days between 9h and 18h (CET).

See you there!

[2016-04-04 09:06] art-solopov commented on #11
@ancorgs Oh dear. I usually work during the same hours. :disappointed: I'll try my best to reach you.

[2016-04-04 11:33] jreidinger commented on #11
In such case you can also reach us via mailing list on yast-devel@opensuse.org just expect some time to answer

[2016-04-04 11:44] art-solopov commented on #11
Thank you!

[2016-04-25 13:04] hennevogel commented on #25
Congratualiations @Ana06! This is your project for Google Summer of Code 2016 :-)

[2016-04-25 13:04] #25 closed

[2016-04-26 10:44] hennevogel commented on #44
Congratulations @msfernandes this is your project for GSoC this year! :bouquet:

[2016-04-26 10:44] #44 closed

[2016-04-26 10:45] hennevogel commented on #16
Congratulations @magarcia this is your project for GSoC this year! :bouquet:

[2016-04-26 10:45] #16 closed

[2016-04-26 10:46] hennevogel commented on #13
Congratulations @jyeray this is your project for GSoC this year! :bouquet:

[2016-04-26 10:46] #13 closed

[2016-04-26 10:46] hennevogel commented on #24
Congratulations @rishabhs95 this is your project for GSoC this year! :bouquet:

[2016-04-26 10:46] #24 closed

[2016-04-26 10:49] hennevogel commented on #63
Congratulations @shalomRachapudi this is your project for GSoC this year! :bouquet:

[2016-04-26 10:49] #63 closed

[2016-04-26 10:57] hennevogel opened #65 "Conference Info Screen for OSEM"
**Project Title:** Conference Info Screen for the [Open Source Event Manager (OSEM)](http://osem.io/)

**Description:** From the data available in OSEM build a page that conference organizers can show on screens throughout the venue containing information like the the next talks title&speaker, tweets about the conference, sponsors etc.

**Deliverable:** A new page in the OSEM ruby on rails app.

M

[2016-04-26 11:11] rishabhs95 commented on #24
Thanks @hennevogel and mentors for the help and guidance!
Looking towards an exciting summer ahead! :)

[2016-04-26 14:38] magarcia commented on #16
Thanks @hennevogel

[2016-04-26 18:28] jyeray commented on #13
Thanks @hennevogel and mentors @ancorgs and @jreidinger, it will be an amazing summer :smiley:

[2016-10-26 10:53] #59 closed

[2016-10-26 10:53] #7 closed

[2016-10-26 10:53] #55 closed

[2016-10-26 10:54] #56 closed

[2016-10-26 10:54] #57 closed

[2016-10-26 10:54] #58 closed

[2016-10-26 10:54] #54 closed

[2016-10-26 10:55] ChrisBr commented on #37
Not reproducible ...

[2016-10-26 10:55] #37 closed

[2017-01-09 16:40] ChrisBr commented on #11
@ancorgs & @jreidinger is this one still valid? If yes please open a new issue! Thanks!

[2017-01-09 16:40] #11 closed

[2017-01-09 16:40] ChrisBr commented on #12
@jreidinger is this one still valid? If yes please open a new issue! Thanks!

[2017-01-09 16:40] #12 closed

[2017-01-09 16:40] ChrisBr commented on #15
@ancorgs & @imobachgs is this one still valid? If yes please open a new issue! Thanks!

[2017-01-09 16:40] #15 closed

[2017-01-09 16:40] ChrisBr commented on #23
@kalabiyau is this one still valid? If yes please open a new issue! Thanks!

[2017-01-09 16:40] #23 closed

[2017-01-09 16:41] ChrisBr commented on #32
@cornelius @aduffeck is this one still valid? If yes please open a new issue! Thanks!

[2017-01-09 16:41] #32 closed

[2017-01-09 16:41] ChrisBr commented on #33
@cornelius @aduffeck is this one still valid? If yes please open a new issue! Thanks!

[2017-01-09 16:41] #33 closed

[2017-01-09 16:41] ChrisBr commented on #39
@mssola is this one still valid? If yes please open a new issue! Thanks!

[2017-01-09 16:41] #39 closed

[2017-01-09 16:41] ChrisBr commented on #42
@lrupp @darix is this one still valid? If yes please open a new issue! Thanks!

[2017-01-09 16:41] #42 closed

[2017-01-09 16:42] ChrisBr commented on #46
@mauromorales is this one still valid? If yes please open a new issue! Thanks!

[2017-01-09 16:42] #46 closed

[2017-01-09 16:42] ChrisBr commented on #47
@cornelius @lnussel @coolo is this one still valid? If yes please open a new issue! Thanks!

[2017-01-09 16:42] #47 closed

[2017-01-10 11:46] mssola commented on #39
Not valid anymore, so I'll keep it closed. Thanks for taking care of this 👍

[2017-01-16 11:44] mssola opened #68 "Implement the server command in zypper-docker"
**Project Title:** Implement the server command in zypper-docker

**Description:** The aim of this project is to allow zypper-docker to act as a web application. With this command, zypper-docker will provide an API in which clients will be able to check whether an image contains security vulnerabilities. Therefore, the student should do the following:

1. Propose an API.
2. Implement the endpoints

[2017-01-16 11:45] mssola opened #69 "Make zypper-docker work with other package managers"
**Project Title:** Make zypper-docker work with other package managers

**Description:** right now zypper-docker only works with zypper (as the name suggests). We would like to increase the portfolio and allow other package managers to interact with docker in the same way as we are doing with zypper. For this, the student will have to:

- Propose and implement a set of interfaces to abstract all t

[2017-01-16 11:45] mssola commented on #69
@ChrisBr could you assign this to @monstermunchkin ?

[2017-01-16 14:18] mssola opened #70 "Fix bugs and implement some features/improvements"
**Project Title:** Fix bugs and implement some features/improvements

**Description:** the idea of this project is to implement a set of features and improvements, and help the team to fix bugs that might appear during the GSoC period. The set of features/improvements are as follow:

- Splitting the user_permission/manage_namespace option (see [#1109](https://github.com/SUSE/Portus/issues/1109)).

[2017-01-16 14:19] mssola commented on #70
@ChrisBr could you assign @ereslibre ?

[2017-01-16 14:21] mssola opened #71 "Improve the UI of Portus"
**Project Title:** Improve the UI of Portus

**Description:** the UI and the UX of Portus passed GSoC 2016 thanks to @msfernandes, but there is still some pending issues to be fixed, plus some new issues:

- Allow anonymous users to see the publicly available images (see [#1129](https://github.com/SUSE/Portus/issues/1129)).
- Extend the version info as shown on the web page (see [#1023](https://gi

[2017-01-20 10:42] lagartoflojo opened #72 "Hosted version of OSEM"
### Hosted version of OSEM

**Description:** The Open Source Event Manager (OSEM) is an event management app tailored to Free Software Conferences, developed in Ruby on Rails. Right now, it is a self-hosted solution, meaning that every conference that wants to use OSEM must have their own servers to host OSEM, as well as install the application and its dependencies. This has some drawbacks: it req

[2017-01-20 16:25] Ana06 opened #73 "Printable tickets & better check-in process for OSEM"
**Project Title:** Printable tickets & better check-in process for [OSEM](https://github.com/openSUSE/osem)

**Description:** [OSEM](https://github.com/openSUSE/osem) is an event management app tailored to Free and Open Source Software conferences and it is developed in the [Ruby on Rails web](http://rubyonrails.org/) framework.
The aim of this project is to make possible to download a pdf printab

[2017-01-26 10:16] sils opened #75 "Join Forces"
Hey, we have built projects.coala.io which is serving a similar purpose, I was wondering if that might help you. Joining two projects to one in some way usually means better quality and less maintenance for all parties ;)

[2017-02-02 18:38] ancorgs opened #76 "Add sessions recording support to Jangouts"
**Description:** Jangouts is a videoconferencing solution that can be used to hold meetings with any number of participants. But currently there is no way to record those meetings in order to watch them again. That's a feature that will make Jangouts suitable for many more use cases, like online workshops. This [Issue](https://github.com/jangouts/jangouts/issues/34) at GitHub describes some possib

[2017-02-02 19:00] ancorgs opened #77 "Add full integration (end-to-end) tests to Jangouts"
**Description:** With every new release of Jangouts or every time we want to update the version of Janus Gateway deployed in our servers, we need to ensure everything still works with several browsers (and several versions) in various operating systems. That's something that should be automated (in the same way that we already have some Jasmine-based unit test for the internal Jangouts components)

[2017-02-02 20:31] ancorgs opened #78 "Make the Travel Support Application useful for more organizations"
**Description:** [TSP](https://github.com/openSUSE/travel-support-program) is a Ruby on Rails based application to manage the requests and reimbursements from travel help programs of free software organizations. Originally developed for the openSUSE Travel Support Program it was adopted recently by the KDE e.V. Travel Cost Reimbursement initiative. This project is about making the tool more useful

[2017-02-02 20:51] ancorgs opened #79 "Re-implement the YaST keyboard management in a proper object oriented way."
**Description:** The YaST module used to configure the keyboard layout needs a revamp. The current source code is poorly structured. Since the original implementation was highly tight to the underlying tools, the adaptation to systemd was hard and is still very far from perfection. Moreover, the final users tend to confuse the system-wide keyboard settings managed by YaST with the user-specific on

[2017-02-03 11:44] imobachgs opened #80 "Revamp Jangouts User Interface"
**Description:** Jangouts is a really nice videoconferencing tool but it lacks of a good User Interface. Developers have been busy adding new features but, to be honest, the interface didn't get too much love. So the objective of this project is to design and implement a new user interface to improve the UX and make Jangouts great. During the last GSoC, Jangouts was ported to Angular 2, so a mobil

[2017-02-06 16:30] ChrisBr commented on #75
Hi @sils,
I saw your mail on GSoC mentors, totally forget to reply, sorry :/ Sure, why not!

[2017-02-06 16:42] sils commented on #75
CCing @sims1253 who's our dedicated GSoC admin this year and @hemangsk who's the developer of projects.coala.io. I think the easiest way I can imagine a collaboration is you using projects.coala.io for organizing your projects and helping us making it customizable for other orgs.

We wanted a yml file and it should be easier to make a custom theme.

Is this interesting for you? I'm sure @hemangsk

[2017-02-08 15:57] ChrisBr commented on #75
@sils at least not for this year as GSoC deadline is in two days. Maybe for future versions, however, we just started developing this tool last edition and put a lot of thought into it. Means we don't really want to change the workflow again (basically using github as a backend and jekyll as frontend).

[2017-02-08 21:01] sils commented on #75
well our page does the same, github and a static HTML page with no ties
attached.

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala.io/ - http://viperdev.io/ - http://gitmate.com/

On 8 February 2017 at 16:57, Christian Bruckmayer <notifications@github.com>
wrote:

[2017-02-09 13:08] ChrisBr commented on #75
@sils will look into it, thanks

[2017-02-09 13:08] #75 closed

[2017-02-20 17:37] mohsini172 commented on #80
I want to work on this project. where should I start?

[2017-02-21 08:32] ancorgs commented on #80
@mohsini172 is explained in the "getting started section" - try to fix some junior job. For this particular project, it would also be important to know what you plan in order to improve the interface.

[2017-02-27 18:02] shlok007 commented on #72
Hi! I am a second year student pursuing undergraduate degree in Computer Science. I would really like to work on this. :slightly_smiling_face:

[2017-03-02 19:09] chawlanikhil24 commented on #68
I'd like to work on the issue.

[2017-03-03 19:28] matheussbernardo commented on #73
Hello, where can I find the Juniot labeled issues?

[2017-03-03 20:43] divyanshumehta commented on #73
I really like this idea. Would love to implement this idea for GSoC 2017.

[2017-03-03 20:53] matheussbernardo commented on #73
Hello, My name is Matheus, I'm a Software Engineering student on Brazil, Starting the fourth year.
I'm working part-time with ASP.NET and I have done some project with ruby on rails for college and also side-projects. It's the first time I'm applying for GSoC and hope it will be an amazing experience.

Also I would like to congrats the opensuse team on how the GSoC web page is organized because is

[2017-03-04 11:03] Qantas94Heavy commented on #76
Hi, I'm interested in taking on this project for GSOC. Just to clarify, this need to record the video and audio of all participants, as well as any text conversations that take place -- is that right?

[2017-03-06 09:29] Ana06 commented on #73
Hi @matheussbernardo!

No! It is something you can learn. :wink: You can see in the [haml documentation](http://haml.info/) the equivalence with erb. If you want you can work on any of the issues that implies touching the views so you can see how it is. For example:

https://github.com/openSUSE/osem/issues/463
https://github.com/openSUSE/osem/issues/400
https://github.com/openSUSE/osem/issues/1156

[2017-03-06 16:17] ChrisBr commented on #76
@ancorgs ping!

[2017-03-08 16:39] LoneWolf38 commented on #79
Hi, I am interested to do this project for GSOC 2017. Can you help me get started?

[2017-03-08 16:40] LoneWolf38 commented on #79
Hi, I am interested to do this project for GSOC 2017. Can you help me get started?

[2017-03-08 16:51] ancorgs commented on #79
@LoneWolf38 Sure. As mentioned above, the best way to start is to take the tutorial and show up in the #yast channel at freenode's IRC or the yast-devel mailing list for asking related questions.

[2017-03-08 17:46] LoneWolf38 commented on #79
Thanks

[2017-03-09 12:46] nikhilrayaprolu commented on #77
@imobachgs @ancorgs I would like to work on this.

[2017-03-10 10:11] siddhantbajaj commented on #73
Hello @Ana06 @mdeniz,
I have some doubts regarding this feature:

- Are you planning to use some gem for implementing QR code like rqrcode?
- > It would be desirable to makes this process more efficient by allowing to do reading the generated QR

   So basically at the time of check-in attendee will have a printed ticket with a QR code on it, Organisers will decode the QR code and the attendee wil

[2017-03-11 12:57] dart-wakar commented on #80
I was unable to setup the janus webrtc via the one click install available on the opensuse software repository.Is there any other way to setup this

[2017-03-12 18:33] Ilias95 commented on #79
Hello.

Where could I find the source code for this YaST module?
Additionally, is the above mentioned YaSt tutorial this one? http://yast.github.io/yast-journalctl-tutorial/index.html

Thank you.

[2017-03-13 07:38] jreidinger commented on #79
@Ilias95 source code for module is in github.com/yast/yast-country in directory keyboard. And link for tutorial is correct.

[2017-03-13 14:16] ChrisBr commented on #78
test

[2017-03-15 10:02] imobachgs commented on #77
@nikhilrayaprolu Sorry but I overlooked your message. A good starting point would be trying to work in some of our junior jobs. Apart from that, you'll need to prepare and submit your proposal for the project. Please, let me know if you need help with that.

[2017-03-15 10:46] nikhilrayaprolu commented on #77
Thank you for your reply. I would like to work on angular-2 branch but I couldn't find any junior jobs related to angular-2. I am happy if you could assign me an issue related to angular-2 .

[2017-03-15 12:23] Ana06 commented on #73
@siddhantbajaj

That's up to you, when writing the proposal you can explain how you would like to implement this. But of course gems can be used if they helps you.

Exactly!

You could for example have a conference which last 5 days and buy a ticket only for one of the days. So basically limit until when the ticket is valid.

Register at what time/day a user arrives. It could happens that a confer

[2017-03-15 13:50] ChrisBr commented on #68
@mssola ping!

[2017-03-15 13:52] ChrisBr commented on #80
@dart-wakar did you try to follow the installation guide in the readme?
https://github.com/jangouts/jangouts/#installation

[2017-03-15 14:24] mssola commented on #68
@chawlanikhil24 sorry for not getting to you sooner! As the description says, you should try to tackle on the issues marked as [junior jobs](https://github.com/SUSE/zypper-docker/labels/junior%20job).

[2017-03-15 14:26] chawlanikhil24 commented on #68
@mssola  Its alright and thank you for the information.

[2017-03-15 16:07] krngrvr09 commented on #78
Hello!
I am Karan. I find this project quite interesting and would therefore like to contribute to it. I have started working on the issue of making Search box in Requests and Reimbursement lists(#6). I have made a small search box on the Travel Support Requests page in which the admin can input the name of the user and it will return all requests created by the user matching that name.
It looks l

[2017-03-16 07:44] imobachgs commented on #76
@Qantas94Heavy Audio/Video should be enough. Having the conversation included is a plus IMHO.

[2017-03-16 07:53] ancorgs commented on #76
@Qantas94Heavy I agree with @imobachgs. Take a look to the [Janus Google group](https://groups.google.com/forum/#!forum/meetecho-janus) and you will see we are not alone. Some people share there experiments and thoughts about recording Janus conversations.

[2017-03-17 08:44] ChrisBr commented on #78
@krngrvr09 great :)
I will have a look at it soon!

Any more questions?

[2017-03-20 10:15] nishanMaduwantha commented on #71
I'm third year student of  Faculty of Information Technology of University of Moratuwa. I have worked  coffeeScript and CSS in my second year project. So I'm interested in your project. So would you please tell me proceed  further

[2017-03-20 14:21] mssola commented on #71
@nishanMaduwantha as written in the description, take a look at our [issues](https://github.com/SUSE/Portus/issues) on Github. Try to fix some (note that there are some [junior jobs](https://github.com/SUSE/Portus/labels/junior%20job), [UI issues](https://github.com/SUSE/Portus/labels/ui), [UX issues](https://github.com/SUSE/Portus/labels/ux)).

[2017-03-21 15:54] nikhilrayaprolu commented on #77
@ancorgs @imobachgs I have shared my draft , can you please review it and share your views on it.

[2017-03-23 07:52] ancorgs opened #82 "Integrate callstats.io into Jangouts"
**Description:** Callstats.io is a SaaS service that helps WebRTC services detect and diagnose media and network quality issues. It would be nice if companies and individuals deploying Jangouts would have the possibility to use this service in a straightforward way. This task can be completed by sending WebRTC events and measurement data from the Jangouts application and the Janus media server in

[2017-03-24 19:22] sj29-innovate commented on #80
which janus-gateway package has to be installed from the opensuse software repository ?

[2017-03-25 06:38] Abhinand-p commented on #73
@Ana06 @mdeniz

I was thinking about Group enrollments.  All members of group may not arrive at same time. Another issue is to check who registered is only attending.
QR code to be extended with a metric integrated gem. Being a  authentication research guy, I want to develop: Interface to take input metric data prior hand;  Non-intrusive metric reader(people should not be stopped for checking) ; C

[2017-03-25 12:50] Shriyanshagro commented on #72
Hello @lagartoflojo  I'm a GSoC aspirant and find this idea very interesting and want to discuss more about it?? Can I get you IRC nick?? or ping me at my IRC nick: "Shriyanshagro"

[2017-03-27 19:07] ChrisBr commented on #80
@sj29-innovate depends on what distribution you use ;)

[2017-03-28 05:57] krngrvr09 commented on #78
Hey @ChrisBr and @ancorgs , I am starting to write a project proposal for this project. Can you explain a bit more about the following task:

[2017-03-28 12:33] ancorgs commented on #78
@krngrvr09 Sure. The models for the current state machines contain declarative code like this (extracted from `TravelSponsorship`):
[code]

Thanks to that, customizing the behavior of those classes is quite easy. But unfortunately that code is directly written in the model. That means that anyone wanting the change the behavior needs to change the core of the program, maybe being forced to keep a

[2017-03-29 00:19] krngrvr09 commented on #78
Oh okay, that makes sense.

Is there an IRC channel where I can discuss my interpretation of other issues and get my proposal reviewed?

[2017-03-29 07:07] ChrisBr commented on #78
@ancorgs and me are both in #opensuse-project @ freenode, I'm not aware of any other IRC channel.

[2017-03-29 23:06] krngrvr09 commented on #78
Thanks @ChrisBr
A rough draft of my proposal can be found [here](https://docs.google.com/document/d/17DUCoBhc-KePllKhzkkEzBNhdunhgcIzqOCaZFHH8rQ/edit?usp=sharing).
It would be great if you and @ancorgs could have a look at it and give some feedback. I would love to hear if you have any new features/changes in mind that can be integrated in the TSP application or if you'd like to suggest some chang

[2017-03-30 11:38] Ana06 commented on #73
Hi @Abhinand-p, sorry I didn't answer before. I didn't read the message. :slightly_smiling_face:

What do you exactly mean with Group?

Can you elaborate on this? I am not sure of what you mean.

I am not sure if I follow you. You can add your own ideas to the proposal, but ensure that they are clear. Also mention if another part of the project won't be done to do this.

If you have question you c

[2017-03-30 16:57] Abhinand-p commented on #73
Hi
Group means:
In any normal conferences, there may be 2 or more people from same institute / company registering together.  example guide and his research scholars
another example : a research team from same industry

In authentication, face biometric  can be used, while registration process itself.
When he attends it is just a cross verification.
Therefore i meant "who registered is only attend

[2017-07-20 06:46] jyeray commented on #79
Hi, I am interested to collaborate with openSUSE doing this project.
Could it be possible to do it in the following months?
Thanks.

[2017-11-10 08:28] coolsaiification commented on #80
I wish to work on this project. How can I contribute?

[2017-11-10 09:50] ancorgs commented on #80
@coolsaiification You have information about the current state of this at https://github.com/aniabui/jangouts/releases/tag/v0.4.6-redesign

Check the work referenced there, checkout the corresponding branch, ask any question in the irc channel or the Jangouts google group... and start hacking!

[2018-01-12 07:14] Ana06 commented on #73
This was already done, so I close it 😉

[2018-01-12 07:14] #73 closed

[2018-01-12 07:15] Ana06 commented on #72
@lagartoflojo we can close this, right?

[2018-01-12 09:09] lagartoflojo commented on #72
Yup!

On Fri, Jan 12, 2018 at 8:15 AM Ana María Martínez Gómez <
notifications@github.com> wrote:

[2018-01-12 09:14] #72 closed

[2018-01-15 15:06] Ana06 commented on #65
@hennevogel @ChrisBr @differentreality what the state of this? I remember there were some work on it. Can we close it or should we keep it open? 🤔

[2018-01-15 15:11] differentreality commented on #65
**not** implemented :/
https://github.com/openSUSE/osem/pull/1119

[2018-01-17 15:35] ChrisBr commented on #65
I would close it for now as we said we don't want to do a project in OSEM this year!

[2018-01-17 15:35] #65 closed

[2018-01-17 15:38] Ana06 commented on #82
@ancorgs what is the state of this? Is it done? can we close the issue?

[2018-01-17 15:38] Ana06 commented on #80
@ancorgs @imobachgs what is the state of this? Is it done? can we close the issue?

[2018-01-17 15:38] Ana06 commented on #79
@ancorgs what is the state of this? Is it done? can we close the issue?

[2018-01-17 15:39] Ana06 commented on #78
@ancorgs @ChrisBr what is the state of this? Is it done? can we close the issue?

[2018-01-17 15:39] Ana06 commented on #68
@mssola  what is the state of this? Is it done? can we close the issue?

[2018-01-17 15:39] ChrisBr commented on #78
Mostly done

[2018-01-17 15:39] #78 closed

[2018-01-17 15:41] #76 closed

[2018-01-17 15:41] #77 closed

[2018-01-17 15:41] #80 closed

[2018-01-17 15:41] #82 closed

[2018-01-17 15:45] #79 closed

[2018-01-18 08:57] #68 closed

[2018-01-18 08:57] #69 closed

[2018-01-18 08:57] #70 closed

[2018-01-18 08:57] #71 closed

[2018-01-18 12:25] jreidinger opened #87 "REST API for testing applications based on libYUI"
**Project Title:** REST API for testing applications based on libYUI

**Description:** The goal of this project is to add optional REST API for controlling the applications based on libYUI. It should be generic enough to allow various usage like integration testing, remote controlling or reproduction of applications failures.

For more info about the project and the initial proof of concept (POC)

[2018-01-18 13:35] bgeuken opened #88 "Improve user experience in OBS"
**Project Title:** Improve user experience in [Open Build Service](https://github.com/openSUSE/open-build-service)

**Description:**

[Open Build Service](https://github.com/openSUSE/open-build-service), normally abbreviated as OBS, is a generic system to build and distribute binary packages from sources in an automatic, consistent and reproducible way. The openSUSE public instance is running at h

[2018-01-18 15:09] Ana06 opened #89 "Improve people collaboration in the Hackweek tool"
**Project Title:** Improve people collaboration in the Hackweek tool

**Description:**

The Hackweek is the time where SUSE engineers meet with other openSUSE contributors to experiment, innovate & learn interruption-free.

We want to improve the Hackweek tool to increase the colaboration inside the tool, which will lead to more colaboration outside of it as well.

First, we want to improve the co

[2018-01-19 15:32] foursixnine opened #91 "Create awareness for openQA's environment during screen recognition"
**Project Title:** Create awareness for openQA's environment during screen recognition

**Description:** OpenQA works like an user, that is constantly interacting with a computer, and using a set of pre-defined instructions and looks at the screen every certain ammount of time, to check for reference image, and asks "Does this screen that I'm looking at, match this screenshot? if so, how much? are

[2018-01-19 15:36] mudler opened #92 "Develop Container-based backend for openQA"
**Project Title:** Develop Container-based backend for openQA

**Description:**

[openQA](https://github.com/os-autoinst/openQA) is an automated test tool for operating systems and the engine at the heart of openSUSE's automated testing initiative. It provides already several backends that allows testing an O.S. on a variety of architectures and scenarios including baremetal and different kinds of

[2018-01-19 15:50] Ana06 opened #93 "Automate Trollolo usage"
**Project Title:** Automate Trollolo usage

**Description:**

[Trollolo](https://github.com/openSUSE/trollolo) is a command line tool, used by teams using Trello to help them to organise their work, such as for example making really easy to generate burndown charts, prioritising cards, creating backups, integrating with other tools, etc. It is being used by many teams in openSUSE to organise the w

[2018-01-19 16:00] mudler opened #94 "Enhance log readability in openQA"
**Project Title:** Enhance log readability in openQA

**Description:**

[openQA](https://github.com/os-autoinst/openQA) is an automated test tool for operating systems and the engine at the heart of openSUSE's automated testing initiative.

Currently openQA is providing capabilities to monitor closely the tests execution state by human operators. Also if manual inspection is not always required, l

[2018-01-19 16:13] foursixnine opened #95 "Schedule manual test case execution in openQA"
**Project Title:** Schedule manual test case execution in openQA

**Description:**

Since a while now, openQA has been one of openSUSE's gate keeper which ensures that what we build, will work. We automate the OS builds, sync them into openQA and trigger a lot of automated tests. And it would be great to have the possibility to also add manual test cases.

openQA has a great API that can work and

[2018-01-19 19:16] AnkushMalik commented on #89
@Ana06, I have some doubts :
- Are you planning to use any gems for editor or do we have to implement functionality in markdown editor itself?
- And,

what do you meant by 'sleep mode' here ^?

[2018-01-19 21:53] atodorov commented on #95
Hey folks,
I'm the project leader for Kiwi TCMS, already CC'ed myself on this issue. I will happily attend your meetings if you like. Let me know if you do have questions.

[2018-01-20 06:24] coolo commented on #95
Thanks for the offer.

[2018-01-22 09:59] Ana06 commented on #89
@AnkushMalik please have a little it of patience. We are still finishing the projects for this year GSoC and take into account that this is only oficial when Google announces it. So I recommend you to wait until it is oficial before starting preparing a proposal. You will have more than one month and a half, so do not get stressed. 😉

[2018-02-03 14:10] hillwoodroc opened #100 "Integrate cloud pinyin in ibus-pinyin or ibus-libpinyin"
**Project Title:** Integrate cloud pinyin in ibus-pinyin or ibus-libpinyin

**Description:**

Pinyin input method is the most popular input method in China. There are many kinds of Pinyin input methods on ibus, such as ibus-pinyin, ibus-libpinyin and ibus-sunpinyin. All of them need search words from local table dictionary.

What is ibus? The full name of ibus is Input Bus Introduction. It is the

[2018-02-05 11:04] ChrisBr commented on #100
@hillwoodroc maybe you can elaborate a little bit how this is already used by openSUSE or how openSUSE is related?

[2018-02-05 15:26] hillwoodroc commented on #100
@ChrisBr I add this paragraph in description, is it ok?

[2018-02-06 00:52] hillwoodroc commented on #100
Thank you, @ChrisBr

[2018-02-10 13:17] Ana06 commented on #100
@ChrisBr should we add again the Other projects section which I remove in https://github.com/openSUSE/mentoring/pull/90/commits/db4237655ab80f7255ee246d0b53213cf9cd5a7b to show this project in the main page as well? I think it doesn't make sense to have a specific section for it, right? 🤔

[2018-02-15 09:38] hillwoodroc commented on #100
@Ana06 I think you could set "M17N" label instead of "other". This is a M17N project.

[2018-02-16 09:11] ChrisBr commented on #100
@hillwoodroc labelling with M17N does not make any difference if there is no section for it (the label just makes sure that it gets added to the right section here http://101.opensuse.org/). As I saw that @Ana06  already added the Other section again it should be fine. Otherwise feel free to send a pull request with a M17N section (I can't do it because I don't know anything about it ...).

[2018-02-19 18:10] Ronaq13 commented on #93
Hello @Ana06, I would like to contribute in this. How can I start for this?

[2018-02-20 09:18] Ana06 commented on #93
Hi @Ronaq13,

As said in the get started section, you can set the project and pick a [good first issue](https://github.com/openSUSE/trollolo/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22) (just add a comment in the issue), as this will help you to get familiarise with the project and write a better proposal. :smile:

There are also other things that you can do that will help you to

[2018-03-07 19:44] nipunvashistha commented on #88
Hello @Ana06 @bgeuken ,
I am Nipun Vashistha, an undergrad student at IIT Roorkee. I am primarily a UI/UX designer and front-end developer. I have been doing some research on the OBS system, about what the information architecture of OBS, the different user flows, the stakeholders, and how exactly does the whole packaging system work for Linux distributors.
I feel like the whole system is a bit co

[2018-03-13 17:52] bgeuken commented on #88
Hi @nipunvashistha,
appologies for the late reply. You observation is right OBS is quite complex and has a lot room for improvement in the UI/UX :smile:

In general we recommend to pick one of the [good-first-issue](https://github.com/openSUSE/open-build-service/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue+%3A1st_place_medal%3A%22) issues from our project, like https://github.com/open

[2018-03-14 13:30] AnkushMalik commented on #89
In watch feature, do you also want to send Emails  like GitHub does?

[2018-03-15 08:22] giovanism commented on #95
Hi,
Can I work on this as part of gsoc? I would be happy if someone could tell me where to start.

[2018-03-15 09:02] coolo commented on #95
Hi @giovanism. If you can work on this depends not only on us, but also on the openSUSE project picking proposals and GSOC allocating slots. So it highly depends on your propsal.

And to write a good proposal, it would be good if you follow the 'Get Started' part of the issue. You can also check https://openqa.opensuse.org

[2018-03-15 11:35] giovanism commented on #95
Great! Thanks @coolo . I'll mail you as soon as I have my first draft.

[2018-03-15 14:27] Ana06 commented on #95
@giovanism the proposal should be sent through Google at https://summerofcode.withgoogle.com

you should send it in a Google Doc and the mentors will be able to review it there :wink:

[2018-03-16 10:51] parasitecruncher commented on #88
@Ana06 @bgeuken  Can I get some help while writing the gsoc proposal? Is there a mail address or IRC channel we can talk on?

[2018-03-16 12:02] Ana06 commented on #88
@parasitecruncher sure! You can write me directly by email if you want (anamma06@gmail.com). You can also find both Björn (@bjoern|G) and me (@Ana06) in IRC on the Freenode server. We are usually in the #opensuse-buildservice channel.

[2018-03-19 22:48] VishnuM-sopho commented on #94
Hello,
@Ana06 @mudler
This is something that interests me.
I would really like to contribute to this.
Please let me know how to proceed.
i also have a few doubts regarding the project.

[2018-03-20 08:58] mudler commented on #94
Hi @VishnuM-sopho, thanks for showing interest in this issue!

Feel free to ask your questions here or over IRC (in #opensuse-factory on freenode) about the project.

If you want to contribute on this, you need to submit a proposal and it have to be accepted by the openSUSE project (also depends on GSOC available slots).
The proposal should be sent thru https://summerofcode.withgoogle.com/ in Goog

[2018-03-20 09:00] VishnuM-sopho commented on #94
Hello,

I have submitted a draft proposal through gsoc portal.
Can i get some updates /reviews on that.

What can be improved.

On Mar 20, 2018 2:29 PM, "Ettore Di Giacinto" <notifications@github.com>
wrote:

[2018-03-20 10:38] Ana06 commented on #94
@VishnuM-sopho the mentors will review the proposals ASAP. :wink:

[2018-03-22 17:24] bgeuken commented on #88
@nipunvashistha @parasitecruncher @anyone_who_is_interested

Just a reminder, the deadline for sending proposals is on March 27, 2018 18:00 (CEST)'. So if you consider sending a proposal, hurry up:-) Of course, if you don't want to apply that's also totally fine :smile:

[2018-03-23 10:46] nipunvashistha commented on #88
@bgeuken @Ana06 I am in the process of writing my proposal. I have worked out what changes/features I would want to implement in the whole system, almost ready with the new designs, still figuring out and writing ways to implement the features. I will send it for review in a day or so, I hope it isn't too late for it. 😀
Hoping to work with you guys in near future!

[2018-03-23 14:11] bgeuken commented on #88
Nice, glad to hear that :smile:

[2018-03-24 20:30] gauravsavanur07 opened #103 "gsoc"
I am Gaurav Savanur, an undergrad student at National College of Ireland. I am primarily a full stack web developer. I have been doing some research on the OBS system I believe using React instead of ruby would be  much better option.Redux can be used to manage the state changes and Flux architecture which is used by Facebook which provides better functionality compared to to MVC model.

[2018-03-25 22:06] Ana06 commented on #103
@gauravsavanur07 do you want to rewrite OBS using React as your GSoC project? :thinking:

Have you taken a look to OBS code base? It is a really complex project and it is for sure not possible to rewrite it using React in 3 months... and probably also not in 10 years... Moreover, there is development going in OBS everyday, which include adding new features, so the rewritten code would be outdated

[2018-03-25 22:06] #103 closed

[2018-03-26 00:47] yusrideb commented on #95
Hi,
Can I apply it to other Mojolicious based apps? I need to know where to start

[2018-03-26 08:03] Ana06 commented on #95
@yusrideb

what do you exactly mean?

[2018-03-26 08:36] foursixnine commented on #95
@yusrideb This  is about integration of two applications: openQA webUI, and  Kiwi TCMS. So that manual tests runs are recorded with Kiwi TCMS, and results are uploaded to openQA via rest api.

There's no need to develop a new Mojolicious application. The only missing part is the integration between both applications.

[2018-03-27 15:18] nipunvashistha commented on #88
@bgeuken @Ana06 I have sent my proposal through the GSoC portal. Writing the proposal was itself a learning task and I am hoping to learn more in the future. Do give me your valuable suggestions in any case. 😃

[2018-03-27 15:26] Ana06 commented on #88
@nipunvashistha

Nice! :wink: It would have been nice that you send it before so that we have time to review it, because the application closes in 35 minutes, so it is too late for that now.

[2018-04-24 10:37] medwinz opened #104 "ssl certificate on 101.opensuse.org expired"
Ssl certificate on 101.opensuse.org is expired. Please renew it :-)

[2018-05-02 14:15] lagartoflojo commented on #104
Starting today, [GH pages do have SSL support](https://blog.github.com/2018-05-01-github-pages-custom-domains-https/). But the domain needs to be configured with a CNAME rather than an A record. See the warning message under the "GitHub Pages" section of this project's settings.

[2018-08-12 14:48] Aniket-Pradhan commented on #92
Hey!

I am interested in this task. I have some knowledge about Containerized environments, and have worked a bit with Docker before.
Can you guide me from where should I start? OpenQA seems like a big project, and it would be helpful if you could give me a kickstart.

[2018-11-29 22:22] cyntss opened #106 "EOS Web UI builder"
**Project Title:** Web UI builder

**Description:** EOS Design System is an open source set of guidelines, components, elements, and more. All these tools are there to help developers and designers create products in a consistent and efficient way. The goal of a Design System is that all products in a portfolio look and feel the same in order to enhance the user experience and brand perception. Wh

[2018-11-30 11:21] ikapelyukhin opened #107 "GSoC link broken"
GSoC link (https://101.opensuse.org/gsoc) in the header and footer are broken -- they redirect to `http://101.cf.infra.opensuse.org/gsoc/`, which doesn't resolve and HTTPS is being downgraded to HTTP:

[code]

https://101.opensuse.org/gsoc/ (note the trailing slash) works fine, though.

Is the site deployed with CloudFoundry? Something is fishy with the setup.

[2018-11-30 12:44] #107 closed

[2018-11-30 12:46] Ana06 commented on #107
It is deployed with GithubPages :confused:

[2018-11-30 12:54] ikapelyukhin commented on #107
@Ana06 it doesn't seem to be hosted by GitHub though.

[code]

[2018-11-30 12:56] Ana06 commented on #107
That's what Gihub says: https://github.com/openSUSE/mentoring/deployments :rofl:

[2018-11-30 12:57] Ana06 commented on #107
@hennevogel and @ChrisBr may know more about it... :thinking:

[2018-11-30 13:01] ikapelyukhin commented on #107
@Ana06 hmm, I'm not seeing my changes on the live site yet :thinking:

[2018-12-03 13:46] Ana06 commented on #100
Closing as this project is from last year. Please open a new one if this is still a current project. :wink:

[2018-12-03 13:46] #100 closed

[2018-12-03 13:46] Ana06 commented on #95
Closing as this project is from last year. Please open a new one if this is still a current project. :wink:

[2018-12-03 13:46] Ana06 commented on #94
Closing as this project is from last year. Please open a new one if this is still a current project. :wink:

[2018-12-03 13:47] Ana06 commented on #92
Closing as this project is from last year. Please open a new one if this is still a current project. :wink:

[2018-12-03 13:47] Ana06 commented on #91
Closing as this project is from last year. Please open a new one if this is still a current project. :wink:

[2018-12-03 13:47] Ana06 commented on #88
Closing as this project is from last year. Please open a new one if this is still a current project. :wink:

[2018-12-03 13:47] Ana06 commented on #87
Closing as this project is from last year. Please open a new one if this is still a current project. :wink:

[2018-12-03 13:47] #95 closed

[2018-12-03 13:47] #94 closed

[2018-12-03 13:47] #93 closed

[2018-12-03 13:47] #92 closed

[2018-12-03 13:47] #91 closed

[2018-12-03 13:47] #89 closed

[2018-12-03 13:47] #88 closed

[2018-12-03 13:47] #87 closed

[2018-12-03 22:01] atodorov commented on #95
@foursixnine if you still think this is a viable project for GSoC on your side please open it again to consider for this year. If not we can try and figure this outside the GSoC program.

Regards!

[2018-12-04 02:43] qiangzhao commented on #100
There's no problem for me.
Thank you, Ana!

[2018-12-04 10:42] lagartoflojo commented on #104
SSL is now enabled via Let's Encrypt.

[2018-12-04 10:42] #104 closed

[2019-02-11 09:58] Ana06 commented on #106
As [openSUSE is not going to participate in GSoC this year](https://lists.opensuse.org/opensuse-project/2019-02/msg00006.html), I will close this issue to avoid confusion (I received emails asking about it).

[2019-02-11 09:58] #106 closed

[2019-02-11 12:12] cyntss commented on #106
@Ana06 could you please forward those emails to me or tell the people that contacted you to join the mailing list: https://groups.google.com/forum/#!forum/eos-design-system, where they can get in touch with us ?

[2019-02-11 12:21] Ana06 commented on #106
@cyntss they were interesting in participating in GSoC and were asking if we will participate. I have just answered saying we are not participating this year.

[2019-03-22 20:07] cboltz opened #109 "Mixed content - fonts loaded via http"
_includes/head.html contains

    <link href="http://fonts.googleapis.com/css?family=Lato:[...]

Since 101.o.o uses https, this results in a "mixed content" warning and not loading the fonts.

I see two options to fix that:
- boring - change "http" to "https" in the quoted line
- more work, but better IMHO: switch to the fonts we use everywhere in openSUSE, and load them from static.o.o.

[2019-03-25 11:05] hennevogel commented on #109
three:

* use a protocol relative url lile `//fonts.googleapis.com/css`...

[2020-02-02 12:24] hillwoodroc opened #117 "Merge cloud input feature into ibus-libpinyin"
**Project Title:** Merge cloud input feature into ibus-libpinyin

**Description:** We had a GSoC project about integration cloud pinyin in ibus-libpinyin at 2018. A student got this project and achieved this feature. The code is at https://github.com/openSUSE/ibus-libpinyin. But it was not merged to upstream due to some special demands and methods. We hope somenone can finally finish this project

[2020-02-03 08:31] qiangzhao opened #118 "the post of ibus project could not display its image."
Hi:
I have sent a post on the iBus project, but unfortunately, the image could not display, Who could the reason please?  what should i do in addition?
Thank you!

https://github.com/openSUSE/mentoring/pull/116

[2020-02-03 10:09] hennevogel commented on #118
`mv img/ibus.png img/projects/ibus.png`

[2020-02-04 08:26] okurz opened #120 "Container-based backend for openQA"
**Project Title:** Container-based backend for openQA

**Description:**

[openQA](https://open.qa) is an automated test tool for operating systems and the engine at the heart of openSUSE's automated testing initiative. It provides already several backends that allows testing an O.S. on a variety of architectures and scenarios including baremetal and different kinds of virtualized environment.

A b

[2020-02-04 08:46] okurz opened #121 "Dynamic detection of error conditions from openQA test results"
**Project Title:** Dynamic detection of error conditions from openQA test results

**Description:** [openQA](https://open.qa) is an automated test tool for operating systems and the engine at the heart of openSUSE's automated testing initiative. It provides already several backends that allows testing an O.S. on a variety of architectures and scenarios including baremetal and different kinds of vi

[2020-02-04 10:30] hennevogel commented on #118
Fixed now

[2020-02-04 10:30] #118 closed

[2020-02-04 11:45] qiangzhao commented on #118
Thank you so much!

[2020-02-04 20:54] paususe opened #124 "Convert Virtual Systems page to ReactJS"
**Project Title:** Convert Virtual Systems page to ReactJS

**Description:** The Uyuni web interface is mostly implemented based on aging technologies like JSP while the new pages are written in ReactJS. The goal of this project is to add the missing ReactJS components, like a tree table and reimplement the Systems > System List > Virtual Systems page in ReactJS. Of course the page will need some

[2020-02-04 21:00] paususe opened #125 "Improve Uyuni Documentation Publishing Theme"
**Project Title:** Project title, short enough to catch attention

**Description:** Use our existing Antora theme to learn our publishing process. Then with input from our team, design a modern, classy theme that meets SUSE documentation standards.

**Deliverable:** You will create a modern frontend for Uyuni documentation

**Mentor:** @jcayouette

**Skills:** You will need to have a good understa

[2020-02-04 21:04] cbosdo opened #126 "Breakdown Uyuni into plugins architecture"
**Project Title:** Breakdown Uyuni into plugins architecture

**Description:** Idea is to evaluate different options to breakdown Uyuni. It could be either based on [OSGi](https://www.osgi.org/), [pf4j](https://github.com/pf4j/pf4j) or looking into some portals/portlets ([JSR-362](https://jcp.org/en/jsr/detail?id=362) , [JSR-286](https://jcp.org/en/jsr/detail?id=286)) where base of Uyuni  will be

[2020-02-04 21:06] paususe opened #127 "Enhance Debian and Ubuntu support"
**Project Title:** Enhance Debian and Ubuntu support

**Description:** Uyuni currently supports Debian and Ubuntu officially as Salt clients but some bits are missing. This project is about implementing what's missing.

**Deliverable:** As many as possible of this list

1. Generate and process Ubuntu patches and security information (CVE information from the Ubuntu Security Notices - https://usn.u

[2020-02-04 21:14] cbosdo opened #128 "Add KDE support"
**Project Title:** Add KDE support

**Description:** Uyuni is mostly used to manage Linux servers but why not use it to manage Linux desktops?

KDE provides a number of files that can be tuned and tweaked to configure kiosk mode, background, where the task manager is, what Plasma add-ons are installed, etc.

**Deliverable:** This project is about creating Salt formulas, forms, grains, modules, pil

[2020-02-05 21:38] paususe commented on #128
@joesusecom and @benediktwerner will also help from the Uyuni side

[2020-02-06 10:49] kstreitova opened #129 "Implement a proper testing framework"
**Project Title:** Implement a proper testing framework

**Description:** Currently the majority of rpmlint tests are handled via running rpmlint for built RPM packages and comparing the results. This solution has disadvantages. It's hard to maintain it, adding of new RPM test packages requires lots of effort, it doesn't scale much further and last but not least RPM packages take space in rpmlint

[2020-02-06 12:25] ddemaio commented on #129
@hennevogel could you add this

[2020-02-06 12:52] kstreitova opened #130 "Refactor old rpmlint checks"
**Project Title:** Refactor old rpmlint checks

**Description:** The origins of rpmlint project go back to the year 1999. Even though lot's of things have been changed since that time, some rpmlint checks remained in the same shape for all that long 21 years. That means outmoded python constructs, spaghetti code, lack of comments, missings tests or just rpmlint checks that don't make any sense any

[2020-02-11 12:11] hillwoodroc opened #131 "Shape code of double pinyin feature for ibus-libpinyin"
**Project Title:** Shape code of double pinyin feature for ibus-libpinyin/libpinyin

**Description:** A whole double pinyin input method is composed by pronunciation code and shape code. The libpinyin support some kinds of pronunciation codes but dosen't support shape code. The known shape code schemes, or called additional code, include Yongma. These schemes help user to reduce choice and repeate

[2020-02-20 18:13] paususe commented on #128
* Getting started hacking Uyuni: http://bosdonnat.fr/slides/openSUSEAsiaSummit19/#/about

[2020-02-20 18:42] paususe opened #132 "Amazon Linux 2 support"
**Project Title:** Amazon Linux 2 support

**Description:** Uyuni supports many Linux clients (openSUSE, CentOS, SUSE Linux Enterprise, Red Hat Enterprise Linux, etc). Let's add one more: Amazon Linux 2. It is very similar to RHEL but with a twist: metadata is in sqlite format. Supporting it as a Salt client is enough, no need to implement the traditional stack.

**Deliverable:** Very similar to w

[2020-02-20 19:13] paususe opened #133 "Windows client support"
**Project Title:** Windows client support

**Description:** Uyuni supports many Linux clients (openSUSE, CentOS, SUSE Linux Enterprise, Red Hat Enterprise Linux, etc). Adding support for managing Windows clients sounds crazy but it may not be. This way, Uyuni Server would act as a Windows Server Update Service server.

**Deliverable:** Very similar to what supporting any other client means:
* Buil

[2020-02-20 19:17] juliogonzalez commented on #132
@paususe I am afraid a free tier account WON'T do it, because the Uyuni server won't run on micro instances (those are the instances you can use on a Free Tier Account). Also IIRC the Free Tier only provides 30GBs of EBS.

However, on paper, now it's possible to install Amazon Linux on premises: https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/amazon-linux-2-virtual-machine.html

I must say I n

[2020-02-20 19:20] juliogonzalez commented on #132
Also for this particular test, either python should be enough (fixing the reposync problem on... reposync) or otherwise I think `C` will be required, to fix the problem on https://github.com/openSUSE/libsolv

[2020-02-20 19:36] paususe commented on #126
More useful resources:
* Uyuni Wiki:
  * Introduction to Uyuni and systems management (presentation): https://github.com/uyuni-project/uyuni/wiki/Presentations
  * Development pages: https://github.com/uyuni-project/uyuni/wiki/

[2020-02-20 19:41] paususe commented on #132
The free tier is for the client (Amazon Linux 2).

The Uyuni Server can be run on your own PC and manage the cloud Amazon Linux 2 instance. Unlike some other vendors, Uyuni allows you to manage on-premise and cloud instances exactly the same.

That's indeed another option

[2020-02-20 19:57] juliogonzalez commented on #132
@paususe having the instance at AWS means you will be only able to manage it with salt-ssh. That's, unless you also create a VPN between your local network and AWS, or unless you expose your Uyuni instance somehow to the internet (NAT and whatnot, but I don't recommend that **AT ALL**)

So having the AWS free tier account not really useful in this case to test that things are working. Whoever does

[2020-02-20 23:58] juliogonzalez commented on #132
I updated it: `Amazon Linux 2 clients`?

[2020-02-26 09:37] ddemaio opened #134 "GSOC Organization Application 2020 wiki"
Updated application process for 2020 with new wiki info at https://github.com/ddemaio/mentoring/wiki/GSoC-Organization-Application-2020

[2020-02-27 13:31] thisisshub commented on #130
@kstreitova Is there a qualification task for taking up this project under Gsoc 2020?

[2020-02-29 05:08] snpd25 commented on #131
Hey @hillwoodroc , I notice that libpinyin works on Chinese based input methods and I am not familiar with it, Will I be able to work on this project? If yes, what should I start working upon to understand the project details? Thanks.

[2020-02-29 07:01] hillwoodroc commented on #131
Yes, you can work on this project. You don't need to learn how to use input methods. Understanding how it work is ok.
Refer: https://en.wikipedia.org/wiki/Pinyin
https://en.wikipedia.org/wiki/Input_method

[2020-02-29 07:39] hillwoodroc commented on #131
About ZiRanMa:
E.g. The Chinese charactor “霜”. Its full ZiRanMa codes is "udjd". "ud" are pronunciation codes. "jd" are shape codes. The libpinyin has implemented the feature for pronunciation code. But there are too many Chinese characters with the same pronunciation. "jd" will give us to many choices. We want to bring the shape code feature into libpinyin, so that we will get the unique choice “

[2020-02-29 22:43] Inokinoki commented on #117
Hi there, I've succeeded in building the mentioned repo with the cloud input feature.
Could you please tell me, what are those special demands and methods that blocked its merge to the upstream? I may be able to do some work :)

[2020-03-01 08:18] hillwoodroc commented on #117
1. Please use some techique to verify the data returned from third-
party web site
  2. Please use asynchronized communication with web site
  3. Please use glib/gnome library to connect to web site

[2020-03-01 11:06] Inokinoki commented on #117
Great appreciation!

For the 3rd one, AFAIK, `libsoup` is already a lib maintained by Gnome.

I've suffered some crash during the test of sync requests to Baidu cloud input source, with Google source it works well.
Since their responses are both JSON, can I use the JSON parser lib in Glib to do some validations and to avoid the crash? (rather than the string splitting solution in the current versi

[2020-03-01 12:35] hillwoodroc commented on #117
I think it is feasible. But I don't know think other two mentors how think it. I suggest you to email us.

[2020-03-02 04:40] epico commented on #117
Yeah, GLib JSON library is one option.

For me, public discussion is okay; other students can also see the information.

[2020-03-02 05:02] qiangzhao commented on #117
Me too!

[2020-03-02 07:37] epico commented on #117
Here are some partial cloud input TODO list from me.

  1. With GLib JSON library, I think it is better to check the data member in JSON
     a. if possible please check as many data field as possible;

  2. Please use asynchronized communication with web site
     a. insert one cloud symbol before web site returning data;
     b. replace the cloud symbol with the data returned from web site;

[2020-03-02 13:57] snpd25 commented on #131
Thanks @hillwoodroc , I got the idea of input_method and pinyin. I explored the ibus-libpinyin repository, and most of the issues are in Chinese. Can you suggest any task that I may take-up for solving, so that I can understand the code structure? Thanks.

[2020-03-03 04:55] qiangzhao commented on #131
Hi Sneha:
This topic wants to add shape code for pinyin to improve the accuracy of the recognition rate. I think to investigate the ibus-libpinyin and libpinyin's source code would help. there's no need to resolve other issues.
Thank you!

[2020-03-03 13:43] Chinmay4400 commented on #128
Hello, I am new to OpenSUSE and after a brief reading I believe I want to be involved in this project. I am reading further from the linked resources but a question is bugging me : Uyuni seems to be a big project....do I need to have any experience with it beforehand?
Thanks.

[2020-03-03 14:04] paususe commented on #128
Hi @Chinmay4400 !

Yes, Uyuni is a large project. None of the projects we have proposed for this GSoC edition should require previous experience (but I can assure you will learn a lot while working on them!).

This particular project is probably the one that requires the least experience, as most, of not all of the scope, should be doable by writing formulas (YAML files).

I'd recommend you take a

[2020-03-03 15:16] kstreitova commented on #130
@thisisshub No, there is no qualification task. But please note that this project requires a significant knowledge of rpm and packaging (often [openSUSE](https://en.opensuse.org/Portal:Packaging) or [Fedora](https://docs.fedoraproject.org/en-US/packaging-guidelines/) specific).

[2020-03-03 19:26] Inokinoki commented on #117
I've done an initial json validation:
https://github.com/Inokinoki/ibus-libpinyin/blob/5bd41ddfd08a85d0857a20ba8957b67d62928115/src/PYPCloudCandidates.cc#L245
Adding more.

For the async request, I'm still investigating how it can work to replace the candidates.

I've already tested the case to send multiple web request in async mode. Maybe it's possible to add a send timestamp as a part of user d

[2020-03-04 02:43] epico commented on #117
Could you organize the code into two class for Google and Baidu Parser?
It is okay to put the two class in PYPCloudCandidates.cc.

I think timestamp may be dropped by web site, but not very sure.
Maybe you could compare the user input returned from the web site.

If the web request fails, we need to notice the user with some symbol.
Then we can get issue report from user.

[2020-03-06 10:57] Inokinoki commented on #117
Done:
https://github.com/Inokinoki/ibus-libpinyin/blob/5ccf75beaf43a388e78fb3d755e3114a2bbf05aa/src/PYPCloudCandidates.cc#L53

I'm planning to handle the failures and add symbol in [`CloudCandidates::processCloudResponse`](https://github.com/Inokinoki/ibus-libpinyin/blob/5ccf75beaf43a388e78fb3d755e3114a2bbf05aa/src/PYPCloudCandidates.cc#L218). After this, the functionalities should have been compl

[2020-03-06 11:00] Inokinoki commented on #117
What do you think if we have a cloud unicode icon for the candidates like this:
[enhanced.m_display_string = "☁..."](https://github.com/Inokinoki/ibus-libpinyin/blob/26c61092c153dc3208e4550058735d8407306fd2/src/PYPCloudCandidates.cc#L63).

[2020-03-06 11:10] hillwoodroc commented on #117
I agree.

[2020-03-07 05:54] thisisshub commented on #130
@kstreitova I am keenly interested in this project, could you help me guide into this for what should my next steps should be?

[2020-03-07 10:36] Inokinoki commented on #117
Done.

![Screenshot_20200307_113521](https://user-images.githubusercontent.com/8311300/76141783-cb7baf00-6067-11ea-9b2b-6c1e35836a5a.png)

I'm making a pull request for review.

[2020-03-09 02:25] jkauze commented on #130
Hi @kstreitova, we need to make the refactor to all  checks files or there is a minimum number required to the deliverable?

[2020-03-09 03:07] hillwoodroc commented on #117
It can work on double pinyin mode.
![2020-03-09 11-05-28屏幕截图](https://user-images.githubusercontent.com/1880237/76179495-162b3180-61f6-11ea-843f-cc713eaafdea.png)
![2020-03-09 11-04-36屏幕截图](https://user-images.githubusercontent.com/1880237/76179497-17f4f500-61f6-11ea-8ce4-85915179c758.png)

[2020-03-09 08:13] epico commented on #117
Here are more suggestions coming. ;)

1. Please add one option for some time delay before sending the web request
   a. I mean if the user is inputting, better delay the web request

2. Please cancel the web request, if the user changes the input after web request sent
   a. Maybe soup_session_cancel_message is helpful

For double pinyin, I can provide some code snippets by using libpinyin later.

[2020-03-09 10:49] Inokinoki commented on #117
Good I idea, I was considering it. But what is the best delay? Should it be better to make it configurable?

Yes, it could be helpful!
I didn't realize that can be cancelled as I thought in the sync request flow. I agree that this can bring better user experience.

[2020-03-09 10:58] Inokinoki commented on #117
Fixed.

[2020-03-10 02:53] epico commented on #117
Yes, I think the time delay should be configurable.

Maybe only configurable in gsettings is also okay.

[2020-03-10 13:12] hillwoodroc commented on #117
I give you two suggestions on the pull request https://github.com/libpinyin/ibus-libpinyin/pull/228/files

[2020-03-11 07:20] epico commented on #131
About this proposal, I got some new ideas about user input behavior.

Instead of using ZRM shape code, I suggest to allow user to import table file like Wubi 86 or Erbi table file in setup dialog.

When user input 3-4 characters, ibus-libpinyin will query the sqlite database which contains the table file;
if only a few candidates match the user input, ibus-libpinyin will insert the matched candida

[2020-03-11 08:34] HollowMan6 commented on #131
Well, I have some questions abount the new user input behavior ideas.

 What do you mean by "***instead of*** using ZRM shape code", does that mean we have to give up using ZRM shape code? And according to your description,  does this sentence mean that we are going to add the function just like ibus-table?

What about 1-2 characters? No candidates at this time? And I wonder whether the characters

[2020-03-11 08:57] yslking commented on #131
I have investigated the _libpinyin_ project and the _ZRM input-method_. The core feature of the ZRM, in my opinion, is the _shape code_. The ZRM input-method only supports shape codes that appear at the end of a pinyin string. i.e. pinyin strings like `xxxxxyxxx`, whose `x`s are pinyin codes and y is a shape code, are not supported; only pinyin strings like `xxxxxx`, `xxxxxy` and `xxxxxyy` are val

[2020-03-12 10:50] paususe opened #136 "Package Uyuni for Debian"
**Project Title:** Package Uyuni for Debian

**Description:** Currently, Uyuni is only available and runs on openSUSE Leap. A port to CentOS is in the works. In order to make it more popular, let's package it for Debian (which should also run easily on Ubuntu). It's your choice to decide whether you want to use debbuild (i. e. build .deb packages from the same .spec files we use for openSUSE, that

[2020-03-13 08:30] epico commented on #131
I mean we support to import some simple table file
to support Wubi 86 table or special symbols.

I mean 3-4 user-inputted letters instead of Chinese characters.

We only provide table candidates in candidates list if only a few table candidates are matched.

[2020-03-13 08:55] epico commented on #131
@yslking Iterate the 3 possibilities is slow and complicated.

I think we are considering to input some characters by shape code or table code in ibus-libpinyin.

[2020-03-13 16:06] kstreitova commented on #130
The best start is to fulfil the prerequisites here. Which is (besides the obvious python, git and Linux) mainly RPM packaging. I don't know how familiar you are with RPM packaging but if you aren't, this is a great time to fix it. In fact, knowledge of rpm packaging is essential in this project as these rpmlint checks validate that the RPM specfile or RPM package is correct. Also, every rpmlint ch

[2020-03-13 16:35] kstreitova commented on #130
It highly depends on the student's skills but I think that a good candite should finish all the 4 checks files mentioned in the initial description. But this can be affected by many circumstances since some rpmlint checks will need more research and even discussions with distributions in order to establish a "shape" of the check that would suit them all. These things and any other obstacles can't

[2020-03-15 09:46] Inokinoki commented on #131
As far as I consider, this feature could be implemented in a more flexible way: provide the possibility of customizing a concrete table and add a ZiRanMa table to implement the full feature.

Is it possible?

[2020-03-15 11:39] ChetanManda commented on #125
Hello Community at Suse,

I am Chetan Manda, a final year undergraduate student from IIT Guwahati, India.
I came across NV Access on the Gsoc website and I went through your open source work and found it really interesting. I found this project to Improve Uyuni's documentation publishing theme particularly intriguing.

I am a designer and I specialize in User Interface and User Experience design(U

[2020-03-16 07:14] epico commented on #131
Could you explain it more?

I think ibus-libpinyin will support some simple table file format,
and support to import the table provided by the user.

[2020-03-18 14:13] Inokinoki commented on #131
Yes.

In my opinion, the shape code part could be regarded as a small implementation of Wubi
(which allows users to input characters with shapes, mapped on a standard American English keyboard).
- A possibility is to treat the shape code as a mini Wubi. But this may import too much complexity in implementation;

- Another approach could start by classifying Unicode characters:
The CJK characters i

[2020-03-18 14:19] Inokinoki commented on #131
The mapping mentioned in my second idea is like:

ZiRanMa shape code: Q -> shape: 七 犭 犬 丌 欠 气 且
This layer can be replaced with the other shape code encoding method.

Shape: 欠 -> Unicode range: 6B3D-6B4B
This range includes `欠次欢欣欤欥欦欧欨欩欪欫欬欭欮欯欰欱欲欳欴欵欶欷欸欹欺欻欼欽款欿歀歁歂歃歄歅歆歇歈歉歊歋`.

[2020-03-18 17:38] thisisshub commented on #130
@kstreitova
Hi, I have submitted a draft proposal for review at opensuse for this project. Could you please review my proposal and add a critic. thanks!

[2020-03-19 04:16] epico commented on #131
Actually I prefer the Rime approach.

[2020-03-19 09:46] paususe commented on #125
hi @ChetanManda !

Join our Gitter room, IRC channel or uyuni-devel mailing list at we'll go from there:
https://www.uyuni-project.org/pages/contact.html

[2020-03-22 07:29] chauhanparth210 commented on #124
Hello @paususe,

I am Parth Chauhan(@chauhanparth210) and I am a third-year ICT (Information and Communication Technology) student, currently pursuing B.Tech degree form DA-IICT, India. I have worked a lot with Javascript and proficient in MERN(Mongodb, Express.js, React.js and Node.js) stack. I am  familier
with Java and c++. I have good knowledge of database too.

I came across GSoC website and

[2020-03-23 10:50] paususe commented on #124
Hello Parth

Glad you are interested! I'd suggest you install Uyuni, take a look at the Virtual Systems page, and then set up a development environment. If you need any help, ping us here or in Gitter or in IRC

https://www.uyuni-project.org/pages/contact.html

Thank you

Pau Garcia Quiles
SUSE Manager Product Owner & Technical Project Manager
Phone: +34 91 9018066
SUSE Software Solutions Spain

_

[2020-03-23 10:57] cbosdo commented on #124
@chauhanparth210 not sure you will see the above message

[2020-03-26 00:01] epico commented on #131
I think we are changing this feature to support generic table file
instead of ZiRanMa table only.

Could you update the Project Title and Description?

[2020-03-26 15:30] Inokinoki commented on #117
Thanks for all your suggestions!

I've submitted a draft proposal for this idea. Don't hesitate if you have any question or advice :)

[2020-03-30 09:18] Inokinoki commented on #131
Sorry, I just keep my own idea through the classification of Unicode characters, because I don't really like the Rime approach. And it probably break cloud input for double pinyin.

[2020-03-31 03:50] epico commented on #131
I don't think this feature will affect cloud input,
and we had better support generic table file instead of only one table
and one double pinyin scheme.

[2020-03-31 08:00] Inokinoki commented on #131
OK, I see it!

[2020-04-23 10:43] paususe opened #137 "Translate Uyuni to language X"
**Project Title:** Translate Uyuni to language X

**Description:** Uyuni is available only in English. This project is about translating it into some other language, e. g. Simplified Chinese, Russian, German, French, etc. There are some unmaintained (years) old translations that can be reviewed but they cannot be blindly taken, many text strings have changed.

**Deliverable:** Translation of:
* UI

[2020-04-30 01:29] Loquacity opened #140 "GSoD: Uyuni Installation Guide"
**Project Title:** Uyuni Installation Guide

**Description:** Currently, Uyuni documentation is created from the same source as SUSE Manager documentation, with entity replacement for the product name, and conditionalization added as required. For most of the documentation suite, this works quite well, but the installation process for Uyuni is quite different to the installation process for SUSE M

[2020-04-30 01:36] Loquacity opened #141 "GSoD: Uyuni User Experience Research"
**Project Title:** Uyuni User Experience Research

**Description:** Currently, Uyuni documentation is created from the same source as SUSE Manager documentation. This project aims to find out how Uyuni readers are different to SUSE Manager readers, and what content might benefit them. This could include suggestions for a different style, language, voice, format, or media.

**Deliverable:** An Uyun

[2020-04-30 01:41] Loquacity opened #142 "GSoD: Uyuni Quick Start Videos/Screencasts"
**Project Title:** Uyuni Quick Start Videos/Screencasts

**Description:** Currently, Uyuni documentation is created from the same source as SUSE Manager documentation. This project is to record a series of short Uyuni videos (< 5 mins) for people to get to know what Uyuni can do, and to install the product. Audience for the videos is moderately technical Linux systems administrators, who are consi

[2020-04-30 01:43] Loquacity opened #143 "GSoD: Uyuni Quick Start Documentation"
**Project Title:** Uyuni Quick Start Documentation

**Description:** Currently, Uyuni documentation is created from the same source as SUSE Manager documentation. This project is to write a series of short Uyuni Quick Start documents for people to get to know what Uyuni can do, and to install the product. Audience for the documentation is moderately technical Linux systems administrators, who are

[2020-05-01 17:09] paususe commented on #142
This could be used as inspiration:
https://www.youtube.com/watch?v=3TZEYMc4HKE&list=PLAsCOnIVwM3E_ygYzx7E-gYu_hlut2xBB

[2020-05-01 17:09] paususe commented on #143
This could be used as inspiration:
https://www.youtube.com/watch?v=3TZEYMc4HKE&list=PLAsCOnIVwM3E_ygYzx7E-gYu_hlut2xBB

[2021-01-15 21:02] paususe commented on #125
This was implemented by Naman Bhatia, who did a great job.

[2021-01-15 21:02] #125 closed

[2021-01-15 21:50] paususe opened #146 "Add <some> new client OS"
**Project Title:** Add <some client OS> as a client

**Description:** Add a new client OS to Uyuni. It can be a new Linux OS (e. g. Rocky Linux, Fedora, Manjaro, RasperryOS), FreeBSD, macOS, AIX, Solaris... you name it.

**Deliverable:** New client is supported with the essential functionality (content management, configuration management, managed as a Salt client via either salt-ssh or salt-minio

[2021-01-15 22:29] paususe opened #147 "Refactor client OS support in kits"
**Project Title:** Refactor client OS support in kits

**Description:** Adding a new client OS to Uyuni is not too difficult but it requires touching code in a ton of places (see, e. g. https://github.com/paususe/uyuni/commit/492f64fca41f1292444690e8b42e16a812b28970). Most of the code for most of the clients is very repetitive.

This project is about refactoring that into a generic code path that

[2021-01-18 10:08] hellcp commented on #109
this can be closed, since we don't load any fonts now

[2021-01-19 19:42] marxin commented on #129
The project will be about an extension of the existing `FakePkg` class that supports basic mockup functionality:
https://github.com/rpm-software-management/rpmlint/blob/e6742eb2e570899bf53f1e92b686578a575249e0/rpmlint/pkg.py#L758-L799

[2021-01-20 08:53] #134 closed

[2021-01-20 08:54] ddemaio commented on #134
updated on wiki. Listed 2020 participants as 3/3

[2021-01-20 21:03] #109 closed

[2021-01-22 09:23] mvarlese opened #152 "Enhancements to the ML models"
**Project Title:** Phoebe - help increase data points density and data cleaning

**Description:** Phoeβe (/ˈfiːbi/) wants to add basic artificial intelligence capabilities to the Linux OS. Phoeβe uses system telemetry as the input to its brain and produces a big set of settings which get applied to the running system. The decision made by the brain is continuously reevaluated (considering the grac

[2021-01-23 10:26] rohitsakala opened #153 "PaaS on Kubernetes"
**Project Title:** Expanding Integration Tests on Carrier

**Description:** Carrier integrates multiple components such as gitea, tekton, traefik, eirini, registry and quarks to enable PaaS features on top of Kubernetes.

**Deliverable:** The project is just getting a UI. The task involves adding new API endpoints in GoLang and views for those using Vue.js.

**Mentor:** Venkata Krishna Rohit Sakal

[2021-01-25 04:22] Firstyear opened #154 "Update Kanidm project."
**Project Title**: Many Ideas with Kanidm

**Description**: Kanidm is an identity management project written in Rust. IDM services are a network store of users and groups for systems, websites and more, providing these with authentication and authorisation functionality. It aims to respect all peoples' identities and to store their data safely and correctly. IDM is a diverse area which values cont

[2021-01-27 12:54] #117 closed

[2021-01-28 13:59] #143 closed

[2021-01-28 13:59] #142 closed

[2021-01-28 13:59] #141 closed

[2021-01-28 14:00] #140 closed

[2021-02-05 08:47] qiangzhao opened #158 "ibus customized pre-edit themes"
**Project Title:** ibus pre-edit window support customized theme

**Description: The original skin function of ibus in different desktop environments is based on GNOME-shell and GTK, we need to inherit and customize it, so that users can freely choose the style they need.

**Deliverable: the modification to different desktop components to accomplish the target.

**Mentor:** @epico @hillwoodroc @qi

[2021-02-05 20:46] oxr463 opened #160 "Unprivileged containers with PRoot"
**Project Title:** Unprivileged containers with PRoot

**Description:**

OCI containers can be built and/or downloaded using [img](https://github.com/genuinetools/img),
and then run as any user via PRoot. There is already a proof of concept in progress (See: https://github.com/proot-me/proot/pull/204). However, it is very rough, and there are several open bugs that still need to be patched before

[2021-02-05 20:49] oxr463 opened #161 "PRoot / CARE and Intel SGX"
**Project Title:** PRoot / CARE and Intel SGX

**Description:**

There are quite a few solutions that enable running docker images in an SGX enclave (Scone, Graphene-ng, Fortanix, etc.), but they are all either proprietary or hard to manipulate. It'd be nice to be able to use the combo PRoot/care to package a runtime for later re-execution within Intel SGX.

**Deliverable:**

Proof of concept impl

[2021-02-05 20:52] oxr463 opened #162 "Porting PRoot to Rust"
**Project Title:** Porting PRoot to Rust

**Description:**

There is already a proof of concept in progress, (See: https://github.com/proot-me/proot-rs). However, this implementation is very basic and only runs on a single architecture. Work is still needed to complete a functioning prototype, as outlined here, <https://github.com/proot-me/proot-rs/issues/1>:

**Deliverable:**

Fully functional, a

[2021-02-05 20:54] oxr463 opened #163 "Implementing libseccomp in PRoot"
**Project Title:** Implementing libseccomp in PRoot

**Description:**

PRoot contains it's own seccomp code for handling security permissions for running binaries. Instead of maintaining the legacy seccomp code, we would like to see [libseccomp implemented](https://github.com/proot-me/proot/issues/195). Below is a brief excerpt of the benefits this solution would provide:

and any syscall changes

[2021-02-08 03:56] hillwoodroc commented on #131
Close it this year.

[2021-02-11 07:07] shenlebantongying commented on #130
Can u show me an example check that are considered of state-of-art, or good a PR for a good refactor?

[2021-02-17 20:51] paynejacob opened #164 "Logging Pipeline Plumber"
**Project Title:** Logging Pipeline Plumber

**Description:** Rancher logging is powered by the Banzai Logging Operator.  The operator is a powerful tool that empowers users to create complex filtering on their logs.  Currently there is no good way to peel back filters and find where the breakdown is.  Sometime users are targeting a particularly elusive log message making the feedback loop for the

[2021-02-19 17:48] rhabacker opened #167 "Improve adding options in Yast security modul"
**Project Title**: Improve adding security options in Yast security modul

**Description**: When trying to add support for an option to the Yast security module (see https://github.com/yast/yast-security/issues/93) it turned out that 26 adjustments would be needed in various places. Since security settings of a system have increasing importance, adding options should be as simple as possible and r

[2021-03-02 09:37] ddemaio commented on #153
@rohitsakala could you expand a little bit more on this topic. More ideas need to be flushed out rather than just contribution.

[2021-03-10 02:34] thisisshub commented on #129
@kstreitova Since we have the all the test cases in `pytest` for testing does that mean we just implement the rest of the **required** test cases in `pytest` as well or do we implement another testing framework from scratch?

[2021-03-10 07:49] ddemaio commented on #167
@rhabacker can you send me an email to ddemaio@opensuse.org so I can include you in an email with all the other mentors. Also, how do you want students to contact you about the project? Here? This is the only thing I found to communicate with you.

[2021-03-10 10:48] guptadhaval18 commented on #152
@mvarlese Hi I am interested in working on this issue. Could you please explain how the Enhancements to the ML models is to be done if the model used is x*w+b as specified in readme. Also what is data point density.
Also please provide link to the data to be cleaned.

[2021-03-10 11:15] guptadhaval18 commented on #152
@mvarlese Thanks for quick response. Will be going through the repository. Will ask further questions if there is any doubt.

[2021-03-10 11:44] guptadhaval18 commented on #152
Getting build error, even though I have python3 installed.
![image](https://user-images.githubusercontent.com/47078156/110624329-0c9b2780-81c4-11eb-9961-fec54bebe781.png)

[2021-03-11 10:42] #130 closed

[2021-03-11 10:43] #129 closed

[2021-03-11 15:13] paususe opened #170 "Enable MicroOS as a client"
**Project Title:** Enable MicroOS as a client

**Description:** MicroOS is a transactional operating system from the openSUSE community. TL;DR: you install updates but they are not effective until you reboot. There is already support in Salt for this but some enablement in Uyuni is required (e. g. adapt UI, some logic, etc)

**Deliverable:** Basic enablement of MicroOS, e. g. new software and upda

[2021-03-12 08:42] mukul-mehta commented on #152
@mvarlese Hello, I'm interested in working on this project. To begin with, I'll build the project locally and try running it. Are there any other tasks I could take up to get more familiar with the project?

Also, is there a communication channel for discussions regarding this project?

[2021-03-12 08:47] mvarlese commented on #152
@mukul-mehta thanks for expressing your interest. Yes, please, let's start from the activity you already depicted and possibly try to develop a basic plugin with a random functionality of your taste. That will certainly help you to familiarize with Phoebe plugin based architecture.
I do plan to establish a communication channel and will advise which one when set up.

[2021-03-12 10:45] mukul-mehta commented on #152
Sure, I'll get to it. Thanks!

[2021-03-12 15:53] shubhambhardwaj007 commented on #164
Hello @paynejacob !!!
I am interested in this project. I have good hands-on experience in k8's and  helm but lack golang knowledge.
Can I go forward in this??

[2021-03-12 16:36] paynejacob commented on #164
Hi @shubhambhardwaj007 thanks for taking an interest in this project! This would be a great project to get started with golang on.  1 or 2 golang applications may be required but a majority of the work will be with helm.

[2021-03-14 11:44] thisisshub commented on #136
Hi @paususe,
I have a bit of experience on packaging with [build.opensuse.org](https://build.opensuse.org/project/show/home:thisisshub_:tests) and I believe I could work on this project.

Doubts,
- The only deliverable is to make a `.deb` package of `uyuni`?
- Other than the **Get Started** tasks is there anything I could do?

[2021-03-18 19:44] KevinKipkorir commented on #120
Hello, This is a fun project I would really like to work on as I have recently had an interest in containerization and virtualization. Could  you please suggest some repo concerning this project to get familiar with the work of this task.

[2021-03-18 21:10] okurz commented on #120
@KevinKipkorir hi, happy to hear about your interest. The above description has some links included within the text for repos concerning this project that you can follow.

[2021-03-20 19:08] drs-11 commented on #136
Hi @paususe! I'm interested in this issue for GSoC. Currently I do not have any experience in packaging of any kind but am in the middle of reading the "[Guide for Debian Maintainers](https://www.debian.org/doc/manuals/debmake-doc/index.en.html)" and will try to write some small packages as practice. I know this alone won't be enough to prove I am capable of this issue so is there any sort of qual

[2021-03-20 22:25] paususe commented on #136
Hello @drs-11 !

The Guide for Debian Maintainers is good reading but it focuses a lot on the "Debian toolset for packaging". Since Uyuni is large (all in all, we are talking about 100 packges, give or take), my recommendation is to NOT use Debian native packaging (i. e. `debian` directory with `rules`, `control`, `copyright`, etc files) but to reuse the existing RPM packaging. You can do that by

[2021-03-21 04:35] HollowMan6 commented on #158
Hi, I'm a previous year GSoC applicant from #131, and I'm interested in this project.

After searching on the Google, I noticed that currently ibus's theme is determined by the desktop theme https://github.com/rime/ibus-rime/issues/77, and we can't change it manually unless you use Gnome and change it with gnome-shell.

And another workaround to change the theme is to act in this way in Gnome: htt

[2021-03-21 07:51] drs-11 commented on #136
Thank you for the elaborate response! I will get started with the resources you provided.

I do have some questions:
- Do I need to have OpenSUSE as my developer environment? I currently use Ubuntu for development.
- Will this issue mostly involve using developer tools or will there be some programming as well?
- Should I keep contacting you from this issue for further communications?

[2021-03-21 08:32] HollowMan6 commented on #158
I've got some ideas from IBus Tweaker: https://extensions.gnome.org/extension/2820/ibus-tweaker/
https://github.com/tuberry/ibus-tweaker

![image](https://user-images.githubusercontent.com/43995067/111898570-da11ea00-8a61-11eb-97d6-a8b7d0e4cc8c.png)

We can make a GNOME Shell Extension that reads from the skin files (it can be rime-like color schemes https://github.com/rime-aca/color_schemes) loca

[2021-03-21 14:57] paususe commented on #136
It's not a must but it will certainly make things easier, since you will be able to test things locally, package names will be the same, etc. You can start with openSUSE Leap 15.2 in a VM, no need to replace your main operating system.

For a fully-functional Uyuni Server on Debian, I am 99% sure some programming will be required, but that's out of scope for this GSoC project:

_It is not required

[2021-03-21 18:54] satkaurav commented on #167
Hi @rhabacker!

I am here an undergraduate computer science student and a newbie to open source.

I want to work to this work so I commented here to let know the community that a student is interested in this project.

I just complete the installation of openSUSE and start reading the YaST project documentation.

My reason for choosing this project is vast applications of YaST in the openSUSE proj

[2021-03-22 04:50] epico commented on #158
I think we will use the current gtk3 theme and gnome-shell theme for this feature.

[2021-03-22 04:57] HollowMan6 commented on #158
OK, I see. So combining [user-theme](https://gitlab.gnome.org/GNOME/gnome-shell-extensions/-/tree/master/extensions/user-theme) and [ibus-tweaker](https://github.com/tuberry/ibus-tweaker) will make a perfect demo. I'll try this.

[2021-03-22 08:04] KB5201314 commented on #162
@oxr463

Hi oxr463,

I'm imlk, and I am studying computer science at Beijing University of Posts and Telecommunications in China. I have experience in developing toy operating systems using Rust, and I used to work as an intern in a company that uses the Rust language.

I saw this idea on GSOC. I am very interested in the work of Porting PRoot to Rust and intend to participate in it.

I forked the

[2021-03-22 14:18] oxr463 commented on #162
@KB5201314 sounds awesome! Please join our Gitter so we can chat in real time, (https://gitter.im/proot-me/devs).

Also, it would be cool to get a PR going for these changes.

[2021-03-22 15:31] KB5201314 commented on #162
Thank you, I have created a PR https://github.com/proot-me/proot-rs/pull/12

[2021-03-22 18:15] manishdangi98 commented on #153
Hi @rohitsakala I would like to work on this can you guide me from where can I start to get better understanding of the project

[2021-03-22 21:05] yoBoyio commented on #152
@mvarlese Hello I'm interested in working on this project. Ηow can i contribute?

[2021-03-26 15:11] HollowMan6 commented on #158
I have worked out a demo which successfully changes the IBus theme with user's current gnome-shell theme: https://github.com/HollowMan6/Customize-IBus

## e.g.

Seen as the picture below for a example. User currently choose `vim-light-doder` for gnome-shell in `User Themes`, which is a light mode theme, while IBus uses `vim-dark-doder` theme chosen by user in `Customize IBus`, which is a dark mode

[2021-03-28 11:35] drs-11 commented on #136
Hey @paususe I [branched](https://build.opensuse.org/package/show/home:drs_11:branches:systemsmanagement:Uyuni:Master/smdba) smdba and modified it a bit to support debbuild.

From what I've gathered so far is that this issue requires to have all the packages of Uyuni project to have support for debian by modifying the packages for debbuild. This will require to find the unsupported items in the sp

[2021-03-28 20:55] paususe commented on #136
Could you please enable the publish flag in https://build.opensuse.org/repositories/home:drs_11:branches:systemsmanagement:Uyuni:Master ?

That's 100% right.

On top of that, you may find some dependency package is available from openSUSE but not on Debian. In that case, my suggestion is to take the openSUSE package and debbuild-ify it.

While a bit confusing due to the large number of packages in

[2021-03-28 21:03] paususe opened #173 "Uyuni as a Bootstrap theme"
**Project Title:** Uyuni as a Bootstrap theme

**Description:** Currently, Uyuni has three themes: Uyuni, SUMA light & SUMA dark. All of these are tailored around a common core using CSS preprocessor variables, mainly to switch out colors, fonts and the like. Core layout such as spacing, sizing and so forth is shared between all three and stems from the shared core.

Under the hood, Uyuni uses Boo

[2021-03-28 21:04] paususe commented on #173
@hennevogel please add the Uyuni label. Thanks!

[2021-03-28 21:10] paususe commented on #132
@juliogonzalez implemented this as part of his Hackweek 20, so removing from the list of ideas.

https://hackweek.suse.com/20/projects/testing-gnu-slash-linux-distributions-on-uyuni

[2021-03-28 21:10] #132 closed

[2021-03-29 09:39] drs-11 commented on #136
Done.

So after debbuild-ifying it will need to be accepted by the maintainer of the package?

Wow that's a big graph haha!

Okay I think understand most of the things that needs to be done. I think I should probably come up with a plan now and then convert that to a proposal after finalizing the plan with you. That seems the way to go?

[2021-03-29 10:36] paususe commented on #136
The package fails to install on Debian 10. You can added the repo and try it by yourself by adding this line to your `/etc/apt/sources.list`

[code]

It seems this section of the .spec is not working.

[code]

Maybe the way python3_sitelib is defined on SUSE systems is not working with debbuild? I suggest to try to run the Python code on a pristine Debian 10 system, minimal installation, and see w

[2021-03-29 14:55] rohitsakala commented on #153
Done. Updated the description.

[2021-03-30 06:04] HollowMan6 commented on #158
Hi! I've had my proposal shared with https://drive.google.com/file/d/1a0vlrJAsqupYpBZtac9AYjAOspRQIYhw/view?usp=sharing, hope to get some feedback from the community and mentors @epico @hillwoodroc @qiangzhao

[2021-03-30 07:20] rhabacker commented on #167
Hi @satkaurav,

thanks for your offer.

In the Yast security module there is only https://github.com/yast/yast-security/issues/92, which was the reason this project was started. One starting point can be to research which additional options would be useful and to open corresponding issues.

[2021-04-01 02:01] Tiger-0512 commented on #147
Hi, @paususe
I'm a graduate of Kyoto University and majoring CS.
I'd like to participate in Google Summer of Code 2021 at Uyuni.
In particular, I'm interested in this project.
I checked the link of `Get started`, but it doesn't work.
Could you tell me more about this project?

------------------------------------------------------------------
Taiga Matsunaga
Cognitive Informatics Laboratory
Gradua

[2021-04-02 01:50] paususe commented on #147
Hello @Tiger-0512 -san!

I had merged the branch just a couple of days ago and GitHub automatically removes merged branches. I have now updated the "Get started" links with 3 examples (Alibaba Cloud Linux, Amazon Linux and Alma Linux). Sorry for the inconvenience!

[2021-04-02 11:11] Tiger-0512 commented on #147
@paususe -san ;)
Thank you for your reply!
I started with "Uyuni development in a snap: https://github.com/uyuni-project/uyuni/wiki/Uyuni-development-in-a-snap
" in Get started, and try Uyuni on openSUSE.

Then, I want advice about my plan for GSoC.
This is the first time to contribute OSS, and this is my first time using Uyuni.
So I think I should start the one which is understandable.
Is it bett

[2021-04-02 14:46] MihirLuthra commented on #154
Hi,
I am Mihir, final year engineering student.
I was interested in contributing to openSUSE via GSoC.
I am fluent with Rust, C, C++ and Bash.
My exams just ended recently, so got the time to check now only.
Wanted to know if there is still time to pursue this project with a probability to get accepted?

[2021-04-02 23:14] paususe commented on #147
You can start with this one, or you can add a new client operating system. Up to you. If case you want to add a new OS, this list should help you pick one:
https://github.com/uyuni-project/uyuni/wiki/Next-candidate-operating-systems

Or maybe there is a well-known enterprise Linux in Japan which I am not aware of and it would be a better candidate?

For development, a VM with 8 GB RAM and 50GB dis

[2021-04-04 05:52] abhikjain360 commented on #154
Hi!

I'd like to work on this project for GSoC'21. Should I start with contacting the mentor?

[2021-04-04 15:27] Tiger-0512 commented on #147
https://github.com/uyuni-project/uyuni/wiki/Next-candidate-operating-systems

I decide to add a new client for my first step and get used to deal with Uyuni.
After that, I'll develop "OS enablement kits".
Thank you for your advice.

In Japan, Ubuntu and CentOS are the most common for servers. Moreover, Fujitsu, which has the largest share of servers in Japan uses RedHat and SUSE for servers. Uyuni

[2021-04-04 17:02] ganpa3 commented on #127
The [wiki](https://github.com/uyuni-project/uyuni/wiki/Next-candidate-operating-systems#intro) mentions that Debian 9 and 10 are supported?
So, is this project still valid?

[2021-04-05 22:30] rhabacker commented on #167
Hi @satkaurav.

if you want to work on this task you need to register at https://summerofcode.withgoogle.com/ and submit a proposal until April, 13.

[2021-04-06 00:43] Firstyear commented on #154
@abhikjain360 Yes - please email me with the details as listed.

[2021-04-06 03:06] epico commented on #158
@HollowMan6 Could you try some gnome-shell theme with customized background image?

[2021-04-06 03:55] HollowMan6 commented on #158
hmm, I've never seen that kind of gnome-shell theme with background image for IBus candidate window before, can you provide some example?

[2021-04-06 04:02] epico commented on #158
https://www.gnome-look.org/p/1291819/

[2021-04-06 05:17] HollowMan6 commented on #158
I knew this theme earlier since it's provided in the description part.

And I've tried this theme when I started to do this idea, it was problematic when I was trying on Fedora 33, GNOME 3.38. Now this gnome-shell theme seems to still be problematic with displaying IBus candidate window correctly and with no background image showing on Fedora rawhide, GNOME 40 changed using the official [user them

[2021-04-06 05:39] HollowMan6 commented on #158
I'm able to fix this theme by adding those style code to the `gnome-shell.css`

[code]

![pic](https://user-images.githubusercontent.com/43995067/113663166-26a12a80-96dc-11eb-8448-aa8325acf5ab.png)

![pic](https://user-images.githubusercontent.com/43995067/113663928-76ccbc80-96dd-11eb-8535-c7828ef8ff82.png)

So I can tell that my extension can fit such kind of themes since the extension just copie

[2021-04-06 08:48] viveksahu26 commented on #164
Hello @paynejacob, This projects meet to mine skills. I know golang, Kubernetes in details and also prepared a chart using Helm.  Seriously, I have no idea about this project. But, if you guide me from today onwards, I will definitely do it.

[2021-04-06 12:53] hmanjhi commented on #167
Hi @rhabacker, Thanks for sharing the information!

Yes I am writing the proposal. Will probably submit it within next two days.

[2021-04-06 13:39] paususe commented on #127
Yes, the project is still valid. I will modify the description with the missing stuff.

TL;DR: currently, the most important items would be errata information and autoinstallation (which are enough for a GSoC project).

[2021-04-06 13:54] paususe commented on #127
@ganpa3 I have updated the description. Hopefully, it is more useful now. You do not need to do all of that, only some parts. I would start with e. g. 1 and 2 (errata information), which are easier.

[2021-04-06 14:23] adigeak commented on #153
Hi do we have any IRC or messaging application?

[2021-04-06 14:45] paususe commented on #147
I'm not sure 8GB RAM will be enough. That means your VM may have 4-5 GB RAM at best, which may cause trouble with Java. Importing packages will definitely be very very slow.

Maybe your university offers servers or some kind of cloud you can use for development?

[2021-04-06 15:05] rohitsakala commented on #153
We do not have it now, but we planning soon.

[2021-04-06 16:06] HollowMan6 commented on #158
The customizing IBus background picture functionality has been added into my extension: https://github.com/HollowMan6/Customize-IBus/commit/1e00e3e77b41ba6ca896d7e06872ad49f99c2e62

[2021-04-07 01:07] epico commented on #158
@HollowMan6 Great, thanks! :)

[2021-04-07 09:46] KevinKipkorir commented on #120
@okurz Hi, I submitted a  draft proposal for this project. Could you care to go through it and advice what you think of it before i go on an submit a final Proposal. Thank you.

[2021-04-08 03:26] hillwoodroc commented on #158
Looks great!

[2021-04-08 06:08] epico commented on #158
@HollowMan6 Could you consider to split this extension into theme conversion tool and import ibus theme extension?

[2021-04-08 07:05] HollowMan6 commented on #158
Do you mean by making a script in python or shell which allow users to select from the GNOME theme CSS file, then extract the IBus related style classes (.candidate-*), finally write it to another stylesheet?

And then modify the current extension to accept the user given stylesheet? @epico

[2021-04-08 08:10] epico commented on #158
Right, we can use Python or JavaScript to write the conversion tool, and maintain it in a separate repo.

Right, the import theme extension can import the modified theme file.

[2021-04-08 09:46] Tiger-0512 commented on #147
I asked my professor, but my university doesn't have such clouds which students can freely use.

[2021-04-12 05:11] okurz commented on #120
Thank you for the draft proposal. General hints and advices for good project proposals:
  * https://google.github.io/gsocguides/student/writing-a-proposal
  * https://hackernoon.com/7-things-you-need-to-know-to-ace-your-gsoc-proposal-92ff7ef23f5a
  * https://medium.com/oppia-org/things-i-learned-from-reviewing-gsoc-proposals-154707cdcca5

[2021-04-12 06:11] HollowMan6 commented on #158
I’ve created a project for changing the IBus GTK theme in a non-GNOME Shell desktop environment using Python: https://github.com/HollowMan6/IBus-Theme , later during GSoC coding period I can merge the above theme conversion tool for GNOME into it to make a complete project.

Tested on XFCE:

![image](https://user-images.githubusercontent.com/43995067/114348085-a4f84380-9b98-11eb-8e0e-9e4c02be0eba.

[2021-05-12 09:00] paususe opened #179 "Add openEuler as client"
**Project Title:** Add openEuler as a client

**Description:** [openEuler](https://openeuler.org/en/) is a Linux community distribution and many Chinese OS vendor build their own Linux distribution based on openEuler: EulerOS, EulixOS, TurboLinux, etc. In other words, openEuler is widely used in China so far. This project is about adding openEuler Linux as a new client OS to Uyuni.

**Deliverable:

[2021-05-17 23:59] HollowMan6 commented on #158
Hi! Glad to hear that I'm accepted by GSoC 2021! I  have made a lot of progress before the results are announced and have added quite a few features for my Customize IBus extension. Here's the repos collection: https://github.com/IBus-Customize . Hope to get some feedback. Issues are welcome!

And here's a guideline for using Customize IBus (in Chinese) : https://blog.csdn.net/qq_18572023/article/

[2021-05-18 04:04] epico commented on #158
Look forward to work on this feature with you during GSoC! :slightly_smiling_face:

[2021-06-12 02:34] dinoallo commented on #179
Hi! @paususe I am interested in this project for [OSPP](https://summer.iscas.ac.cn/#/org/prodetail/210930739?lang=en). I know some Java/Python and have been playing openEuler for a while. I would like to apply for it but I wonder if there are any templates or any requirements(aside from basic information) I need to fill in/provide for proposals?

[2021-06-12 16:32] paususe commented on #179
Hi!

Here you have a starting guide:
https://github.com/uyuni-project/uyuni/wiki/Uyuni-development-in-no-time

Getting your fork of Uyuni building in your OBS project, as described above, is the first step you will need.

Here you have a full example of how to add a new client operating system. This is for Alibaba Cloud Linux 2 but any other RHEL clone is very similar:
https://github.com/uyuni-pro

[2021-06-18 11:29] vzhestkov commented on #136
@paususe Add me as one of the candidates to be a mentor for this project. I suppose I can show some `debbuild` tricks.

[2021-08-13 13:27] sshiv5768 commented on #124
Hey, @paususe  I am interested to work with this issue.

[2021-08-23 06:45] cbosdo commented on #124
@sshiv5768 This one is already being worked on by @riyakalra for Google Summer of Code.

[2021-08-29 00:24] oxr463 commented on #162
This is done per, https://github.com/proot-me/proot-rs/releases/tag/v0.1.0

[2021-08-29 00:24] #162 closed

[2022-01-27 08:32] #179 closed

[2022-01-27 08:33] #173 closed

[2022-01-27 08:33] #170 closed

[2022-01-27 08:34] #164 closed

[2022-01-27 08:34] #128 closed

[2022-01-27 08:35] #124 closed

[2022-01-27 08:35] #127 closed

[2022-01-27 08:35] #133 closed

[2022-01-27 08:36] #136 closed

[2022-01-27 08:36] #137 closed

[2022-01-27 08:36] #154 closed

[2022-01-27 08:37] #146 closed

[2022-01-27 08:37] #160 closed

[2022-01-27 08:37] #147 closed

[2022-01-27 08:45] okurz commented on #120
@ddemaio Our GSOC project was not yet finished and the idea can still be tried again in another GSOC period. I think it might be cleaner to open a new issue for that though. Do you agree?

[2022-01-27 19:56] ddemaio commented on #120
Sounds good @okurz. I'll reopen it and tag openQA. I'll make a note that openQA is interested in mentoring for 22. We have two other teams as well.

[2022-02-03 13:51] cbosdo opened #181 "Convert Systems list pages from JSP to ReactJS"
**Project Title:** Convert Systems list pages from JSP to ReactJS

**Description:** Uyuni comes from an old project and still has a lot of legacy JSP pages. A previous Google Summer of Code converted the Virtual Systems list page to ReactJS. This opens the way to the conversion of more of these pages.

Since there is a lot of duplication in these pages, the project would have to start with a refle

[2022-02-03 13:52] cbosdo commented on #126
Interest reduced, closing

[2022-02-03 13:52] #126 closed

[2022-02-06 08:42] VimukthiRandika1997 commented on #181
Hey! @cbosdo,

I am thoroughly interested working on this project. I have sound knowledge in working with REST API, Python, Javascript, ReactJS, Django. Currently I'm looking forward to contribute for an open source project to get an experience in real world development. Please let me know how to get start and further instructions.

Thanks!

[2022-02-07 07:28] AKACHI-4 commented on #158
Hello people's i am a new comer can u explain me little bit more bcz now it is bit tough to me to understand it ....

.

[2022-02-07 07:33] HollowMan6 commented on #158
@AKACHI-4 I guess you have to find another one as this is an idea for [GSoC 2021](https://summerofcode.withgoogle.com/archive/2021/projects/6295506795364352/), not for this year.

[2022-02-07 10:28] AKACHI-4 commented on #158
@HollowMan6 okay thanku

[2022-02-08 12:19] cbosdo commented on #181
@VimukthiRandika1997 first get a development instance by reading the documents in the issue description

[2022-02-08 16:01] VimukthiRandika1997 commented on #181
@cbosdo Yeah!, I have already done that, I am working on it. Thanks

[2022-02-08 19:15] VimukthiRandika1997 commented on #181
@cbosdo Thank you very much, I will contact you for further instructions!

[2022-02-09 01:53] hillwoodroc commented on #131
Open this issue at 2021.

[2022-02-09 09:20] #152 closed

[2022-02-16 15:26] qiangzhao opened #182 "iBus customized theme enhancement"
**Project Title:** iBus panel window support customized theme enhancement

**Description:**
We will continue to develop and improve iBus theme features based on our past work
1, Only font family, font size, font color, and background color options are retained on the setting page of iBus.
2, add an import button to open a dialog to choose a theme.
3, create a theme create tool: it could open(impor

[2022-02-16 15:28] qiangzhao commented on #158
close for GSOC 2022 as offline discussion.

[2022-02-16 15:28] #158 closed

[2022-02-16 15:29] qiangzhao commented on #131
will close for GSOC 2022 as offline discussion.

[2022-02-17 01:41] #131 closed

[2022-02-19 04:28] ayush-sinh commented on #182
Hi there!
My name is Ayush, I'm a CS student in college, looking for an opportunity to work on an open source project and I use openSUSE so I'm really interested in this project.
I have intermediate level skills in python and C++, some skills in C. I can improve my C and learn anything related to this project. I'm really interested in contributing to this project as it matches my skill set.

Is th

[2022-02-24 07:50] vzhestkov opened #183 "Build Uyuni Client Tools packages for Debian with debbuild"
**Project Title:** Build Uyuni Client Tools pakcages for Debian with debbuild

**Description:** Now most of the client tools packages for Debian based distros are building with native method of building packages for Debian. Switching to `debbuild` will help to limit the nuber of tha packages in OBS to maintain by creating single source for each package for all of the distros.

**Deliverable:** an

[2022-02-25 13:42] agraul opened #184 "A new Test Framework for Salt"
**Project Title:** A new Test Framework for Salt

**Description:**  We maintain our own version of [Salt](https://github.com/openSUSE/salt), which differs in some ways from the upstream [Salt project](https://github.com/saltstack/salt). We have been using a test framework called [Salt Toaster](https://github.com/openSUSE/salt-toaster) to test our Salt version on different operating systems, e.g. o

[2022-02-25 14:39] ddemaio commented on #184
Listing this project under Uyuni since its related to salt @cbosdo .

[2022-02-25 14:42] ddemaio commented on #182
Hi @qiangzhao  I listed this as a large sized project. About 175 hrs for the student for the medium size and 350 hrs for a large project. Please change it if it isn't correct.

[2022-02-25 14:42] ddemaio commented on #161
Hi @oxr463   I listed this as a large sized project. About 175 hrs for the student for the medium size and 350 hrs for a large project. Please change it if it isn't correct.

[2022-02-25 14:43] ddemaio commented on #120
Hi @okurz   I listed this as a large sized project. About 175 hrs for the student for the medium size and 350 hrs for a large project. Please change it if it isn't correct.

[2022-02-25 14:43] ddemaio commented on #121
Hi @qiangzhao  I listed this as a medium sized project. About 175 hrs for the student for the medium size and 350 hrs for a large project. Please change it if it isn't correct.

[2022-02-25 14:44] ddemaio commented on #181
Hi @cbosdo   I listed this as a large sized project. About 175 hrs for the student for the medium size and 350 hrs for a large project. Please change it if it isn't correct.

[2022-02-25 15:01] oxr463 commented on #161
Yeah, that sounds pretty accurate to me.

[2022-02-25 15:03] oxr463 commented on #161
@jopasserat would you still be able to provide access to the infrastructure if a student picked this up for GSoC 2022?

[2022-02-28 16:45] cbosdo commented on #181
PR from last year GSoC converting a similar page: https://github.com/uyuni-project/uyuni/pull/4510

[2022-03-08 15:30] ddemaio opened #185 "Modernize and streamline the Travel Support Program Workflow"
Project Title: Modernize and streamline the Travel Support Program Workflow

Description: Update the Travel Support Program to a more modern appearance and workflow, so it is easier to navigate and use for both users and admins.

Deliverable: A working Travel Support Program website that is functional for users and admins with a modern UI/UX.

Mentor: TBD

Skills: Knowledge of Ruby, html, css and

[2022-03-08 18:49] bwgartner opened #186 "Analytics Edge Ecosystem Workloads"
**Project Title:** Create open source sample microservice workload deployments and interfaces, spanning distributed edge-core-cloud infrastructure to address chosen market verticals to provide relevant analytics per market verticals

**Description:** In the context of this Analytics Edge Ecosystem, such a digital transformation approach to cloud-native containerizing addresses how one can help str

[2022-03-10 01:37] oxr463 commented on #161
See also: https://community.intel.com/t5/Blogs/Products-and-Solutions/Security/Rising-to-the-Challenge-Data-Security-with-Intel-Confidential/post/1353141

[2022-03-12 03:40] ahmadateya commented on #186
Hello, I am coming from [GSoC/openSUSE 101](https://101.opensuse.org/#Rancher) I am interested in this project but I didn't get the idea of it, would you provide more Description about it? and how the skills needed related to the project especially the Data/Ops, Data Analysis, and MLOps Part?

[2022-03-12 09:40] abhi-bhatra commented on #186
Hi @bwgartner @[mrjazzcat](https://github.com/mrjazzcat)
This projects really interests me. The required skills completely aligns with my tech stack. I had a good working experience with Microservice architectures, k8s, Python, and currently I am working as a DevOps Engineer Intern with a Telecom Blockchain based company, and again it's an open-source organization.
I studied about Rancher, it is i

[2022-03-13 16:32] bwgartner commented on #186
Thanks for reaching out, glad you have interest in this.

The goal is to create some functional example workloads (mostly microservices) that span the distributed computing infrastructure (multiple edge tiers and types of nodes to core/cloud) and effectively address the complete data science pipeline aspect for any of the business verticals to potentially create viable analytics.

So this can be a

[2022-03-13 16:39] bwgartner commented on #186
Sounds like you are totally able to contribute to a project like this. And yes, much of the technolgy infrastructure is available in Rancher for the distributed compute aspects of an edge ecosytem, so would like to have a sample set of such example workloads to show how this can be effectively done to help such a digital transformation for improved business analytics.

[2022-03-13 17:14] abhi-bhatra commented on #186
That's really insightful Bryan ! I will look into it, research and develop more used cases

[2022-03-23 22:19] jopasserat commented on #161
I might via some contacts but not directly as the only one I have access to right now is on my laptop ^^
Keep me posted :wink:

[2022-03-28 04:08] abhi-bhatra commented on #186
Hi @bwgartner & [mrjazzcat](https://github.com/mrjazzcat), I am building a sample blockchain protocol application, and using Rancher to manage the cluster.
1. The cluster is created on Azure AKS
2. Rancher is deployed on Azure VM
3. Accessing Rancher Dashboard from VM's IP
4. Deployed Blockchain based Microservie to AKS
5. I am trying to write a detailed sample, I will share it with you.

It would

[2022-03-28 16:44] oxr463 opened #187 "Porting PRoot to Various Architectures"
**Project Title:** Porting PRoot to Various Architectures

**Description:** Both implementations of PRoot currently only support x86, x86_64, arm, and aarch64. We would like to expand the supported architectures to include s390x, mips, and powerpc.

**Deliverable:** compiled static binaries for each architecture

**Mentor:** @oxr463

**Skills:** c, rust, Linux, ptrace, syscalls, seccomp

**Skill L

[2022-03-31 04:40] bwgartner commented on #186
hello @abhi-bhatra

Thanks and quite impressed with what you have done so far ... documenting the steps, configs and capturing images.

In the next day or so, I'll try your step 5 (across the frontend/backend/database) on some Rancher managed clusters that I have already setup (non-Azure). Will also drill into the port/protocol aspect, too and will share what I find.

Some intial observations:
- m

[2022-03-31 12:55] abhi-bhatra commented on #186
Hi @bwgartner Thank you for this overwhelmed response.
I really appreciate the time you put into the project. And also:
1. I am planning to add the **Dockerfile** for the respected protocols.
2. I will make the Blockchain section more descriptive to give you deeper insights over what I am aiming to achieve with this use case.
3. And yes for PVC, it is used by "ethereumdb" mentioned in `./database/

[2022-04-01 17:32] mahesh-hegde commented on #160
Hi, I am a student from Bangalore, India. I tinkered a little with PRoot (as well as fakechroot/fakeroot) around 3 years ago, it was to run debian CLI on an Android 5 phone :).

This proposal seemed interesting. I am curious whether there is a specific use case for this, however, because user namespace for rootless container seems to have become common these days.

[2022-04-01 18:32] oxr463 commented on #160
PRoot is a general purpose tool. However, there are two main use cases that I've seen:
- Running software as a user on super computer (academic) infrastructure
- Android (Usually Termux)

I think adding support for OCI containers would increase productivity for PRoot users, since they wouldn't need to manually find and download/setup their own rootfs images. However, since this is implemented as a

[2022-04-02 11:58] mahesh-hegde commented on #160
Thanks for the perspective. I guess it can also be used to create build environments, depending on overhead of proot itself.

[OCI Spec](https://github.com/opencontainers/runtime-spec/blob/main/spec.md) seems quite big, which parts are left to implement?

[2022-04-02 20:53] oxr463 commented on #160
We're actually doing that here with the PRoot multiarch binaries: https://gitlab.com/proot/proot-static-multiarch

To be honest, I'm not sure how rootless-containers relates to the OCI specification. It might be good to document that as part of a research step in your proposal.

[2022-04-03 17:26] navin772 commented on #186
Hey, I came across this project in Gsoc 2022 under openSUSE and it seems quite interesting to me. I have intermediate knowledge in docker, containers and kubernetes and expertise in python and handling virtual machines.
I want to learn more about your Rancher project and enhance my skills by working on this project.
Could you please help me get started.  Where and how can I contribute ?

[2022-04-04 13:12] Ishan-Saini commented on #181
Hey @cbosdo , I have a doubt regarding the development environment setup.
Correct me If I am wrong but as far as I know, there are two ways of setting up the environment. First method makes use of sumaform and the other doesn't. Should I make use of the second method as described here [https://github.com/uyuni-project/uyuni/wiki/Uyuni-development-in-no-time](https://github.com/uyuni-project/uyuni/

[2022-04-04 14:45] cbosdo commented on #181
take whichever seems easier to you. The second one without sumaform proved doable to newcomers already

[2022-04-04 20:49] oxr463 commented on #160
This is great. I think you're moving in the right direction.

I think we need to clarify the scope for A) PRoot and B) Our potential GSoC project.

I don't think we need to re-implement container management (pull/push/etc.) in PRoot. We can use something like `img` for that, (See: https://github.com/genuinetools/img/#usage).

But I am curious how we would kill/query a running instance. As of now,

[2022-04-05 14:58] mahesh-hegde commented on #160
Hi Lucas,

6th semester of my undergraduate program started yesterday, and we have a heavier curriculum and 2 course projects which are more demanding than I expected. I am afraid I will not be able to proceed with this proposal with college occupying lot of my time. I was parallely working on another proposal with dart project, and in the remaining time I will be trying my luck with that.

I hope

[2022-04-05 15:15] oxr463 commented on #160
No worries. Best of luck in your schooling and in GSoC!

[2022-04-07 02:23] markbowen21 commented on #182
Hello I am a prospect 2022 Google Summer of Code contributor. As I came across your organizations project list and instructions I can see how much your organization  values communication between mentors and mentees. Which is great to see and I would really enjoy talking to any mentor willing to explain more details about the goals and deliverables of this project in order to submit the best GSoC p

[2022-04-10 05:38] AditiAgrawal95 commented on #182
Hello,
I found this project interesting and believe that I have the necessary skills to contribute to it. Could you please help me get in contact with any mentor so that I could understand more about this project and come up with the proposal.
Thank You,
Aditi

[2022-04-10 06:38] Muhamedelsayed commented on #182
Hello @qiangzhao I came across with this project and and I am very excited about the idea. I think I can make  stunning achievements in this project. is there any way to contact one of the mentors please.
Thank you.
Mohamed Elsayed

[2022-04-11 00:11] wolfcomos commented on #182
Hi @qiangzhao, I'm also interested in this project! Are there any ways to get in touch with one of the mentors?

[2022-04-11 17:29] qiangzhao commented on #182
Hi all:
I'm so honored that you're interested in this little project and so honored to work with you. I think I can learn a lot from you too.
I plan to draw a picture to indicate what the behavior would be, and will post it here recently to show the details.
I think you don't have to communicate with a mentor in private. Please just leave your valuable comments here to keep all information public

[2022-04-13 04:04] qiangzhao commented on #182
![image](https://user-images.githubusercontent.com/13212081/163097809-485bfa05-38c3-45d6-830d-7e45eda5f6f1.png)
I made a sketch to illustrate the goal of the work, hoping it would help. :)

[2022-04-13 04:21] qiangzhao commented on #182
![font](https://user-images.githubusercontent.com/13212081/163099086-4cdda5ef-f8b0-4345-bf96-39c409ad0405.png)
Or maybe you prefer to use font select dialog as this to avoid cluttered panels, it's all fine. Please note the above design is just an idea to show the basic design framework.

[2022-04-13 05:32] qiangzhao commented on #182
![gnome-control-center](https://user-images.githubusercontent.com/13212081/163106964-885aa115-6d4d-4e4e-9131-e8d41d981871.png)
This is how the gnome-control-center works currently.

[2022-04-14 01:57] HollowMan6 commented on #182
@qiangzhao Oh, looks cool. Guess I misunderstood your meaning previously, I used to think that the above features should apply both with GNOME and Non-GNOME desktop, and that requires the techniques I mentioned previously in my email which will be much harder.

For this one, it's not needed to re-implement iBus panel window, as the iBus panel window is already re-implemented under GNOME, we can al

[2022-04-14 04:48] abhi-bhatra commented on #186
Hi @bwgartner
I navigated through openSUSE mentoring repo, but I did not find any good-first issue. I want to contribute in this project and already building a use-case. It would be great if you could point me to any bug, or good-first issues, so that I can start contributing and prepare my proposal ASAP !!

[2022-04-14 05:11] HollowMan6 commented on #182
@qiangzhao Hi! I'm now writing to define the project scope. Can I ask and confirm if the design above is approved by the gnome-control-center upstream maintainer? If it's OK, then modifications in the following part of the code would be the project scope, it's all written in C: https://gitlab.gnome.org/GNOME/gnome-control-center/-/tree/master/panels/keyboard

If we haven't made any contact with th

[2022-04-14 05:21] qiangzhao commented on #182
For HowllowMan6's proposal:
I am very honored to have you participate in the last phase of the project, and I remember you impressed us with a good portion of the work you accomplished during the student pre-selection period, I hope future students can be as active and productive as you.
But please be aware that the purpose of this project is to help more students have the opportunity to participa

[2022-04-14 05:26] HollowMan6 commented on #182
@qiangzhao Ok, I see then. Will be happy to join you as a mentor next year if there's more project related to IBus as I didn't manage to contact you earlier this year!

[2022-04-17 05:30] akshat5302 commented on #153
I'm interested in this project . I'm applying for gsoc . Any tips from your side on from where to kickstart for this project .I have intermediate knowledge of linux and k8s

[2022-04-17 16:52] akshat5302 commented on #120
Hey, @okurz I would like to contribute to this project as a part of gsoc22. I have intermediate knowledge of containers and container management tools as well. Please provide me with some resources or guidance to quickstart with this project I'm very much excited to contribute to this project

[2022-04-19 03:35] bwgartner commented on #186
Hello @navin772 ... apologies for the laggy reply, for some reason this didn't show up in my inbox.

Given that you cite intermediate knowledge around the basic technologies, feel free to visit https://rancher.com/learn-the-basics (plus Rodeos and Master Class series) and look at the Learn pull-down for Grow your skills as well.

And with the GSOC apply timeline in progress, I'll likely start putt

[2022-04-19 03:39] bwgartner commented on #186
Hi @abhi-bhatra ... at the end of this week, I'll start posting some issues (with requested deliverables) for contributors to begin reviewing and opting it to with their proposals. As a reminder, there will be a general request and then multiple parallels for the various verticals to try to emulate and provide example deliverables for.

[2022-04-19 06:48] abhi-bhatra commented on #186
Hi @bwgartner today is the deadline of the proposal for GSoC, so I need to attach the proposal for the same Project Idea by today itself. Then as soon as you post the issues, I will start working on the issues.
Here is the proposal I am submitting, could you please review it once, if time allows:
https://docs.google.com/document/d/1vG8T4jRYwFMq5CU0UboPwQoOiH-xhG9TKKi0-u7MYoQ/edit?usp=sharing

[2022-04-19 15:14] okurz commented on #120
Hi @akshat5302, please see the "Get started"-section in https://github.com/openSUSE/mentoring/issues/120#issue-559559713 . This also mentions our chat room where you can address me and us and have a nice chat where we can further support you.

[2022-04-19 18:15] akshat5302 commented on #120
Actually I have some family matter due to which I haven't seen your comment early

[2022-04-19 18:21] akshat5302 commented on #120
Actually gsoc proposal deadline has been closed could I send you my
proposal personally by tomorrow if possible ?

I have some family matter due to which I haven't seen your mail early

Please look into this mail and hope to get a positive response from your
side

Regards
Akshat Jain

On Tue, 19 Apr, 2022, 8:46 pm Santiago Zarate, ***@***.***>
wrote:

[2022-04-19 18:35] bwgartner commented on #186
Looking very good and relevant to the DataOps aspect of Edge computing/analytics, for multiple verticals

[2022-04-19 19:17] foursixnine commented on #120
@akshat5302 submit it through the system, I can't commit to reviewing your proposal tomorrow, so I think it's better if you prepare one, following @okurz's comment on the Getting started section.

[2022-04-24 02:44] qiangzhao commented on #182
Does anybody have any questions? please leave your comment.
@Muhamedelsayed @wolfcomos @markbowen21 @AditiAgrawal95

[2022-04-26 15:40] qiangzhao commented on #182
If we have no idea how to control iBus theme, maybe "IBus Tweaker" is a short example.

https://extensions.gnome.org/extension/2820/ibus-tweaker/
https://github.com/tuberry/ibus-tweaker

[2022-04-26 15:43] qiangzhao commented on #182
Gnome-shell theme with the customized background image, use Unity8-Wood theme as an example.

https://www.gnome-look.org/p/1291819/

[2022-05-23 11:12] abhi-bhatra commented on #186
Hi @bwgartner thanks for selecting me for this Project. I wanted to start my work on this project. But before starting, I want you to guide me for some initials, on how to proceed and what will be the possible next steps. Also, I wanted to know about our communication channel so that we can sync-up on a regular basis !!

[2022-11-04 09:06] okurz commented on #121
Completed with https://github.com/os-autoinst/scripts/pull/174

[2022-11-04 09:08] okurz commented on #121
https://akemiiii.github.io/2022/09/08/GSoC-project/ is the related GSoC project report

[2022-11-09 08:24] cbosdo commented on #181
Done

[2022-11-09 08:24] #181 closed

[2022-11-22 10:52] danigm opened #189 "Implement a proper testing framework"
**Project Title:** Implement a proper testing framework

**Description:** Currently the majority of rpmlint tests are handled via running rpmlint for built RPM packages and comparing the results. This solution has disadvantages. It's hard to maintain it, adding of new RPM test packages requires lots of effort, it doesn't scale much further and last but not least RPM packages take space in rpmlint

[2022-11-24 10:30] DiviyamPathak commented on #189
if this #129 is closed then why this with different mentor

[2022-11-24 10:37] danigm commented on #189
There are still a lot of tests using [binary packages](https://github.com/rpm-software-management/rpmlint/tree/main/test/binary) in rpmlint, the idea is to extend the testing framework to remove the need of binaries for tests, just the machinery to mock those binary packages.

[2022-11-24 13:55] deneb-alpha opened #190 "Accessibility improvements for Uyuni"
**Project Title:** Accessibility improvements for Uyuni

**Description:** The goal of this project is to analyse, track, document and solve accessibility issues in [Uyuni](https://www.uyuni-project.org/), increasing the accessibility support of this configuration and infrastructure management tool.

**Deliverable:**
- Report the accessibility issues highlighted by [WebAIM](https://wave.webaim.org/